.offline-ui

    &.offline-ui-up

        .offline-ui-content:before
            content: "Online"

            @media (min-width: 768px)
                content: "You are online."

    &.offline-ui-down

        .offline-ui-content:before
            content: "Offline"

            @media (min-width: 768px)
                content: "Internet connection lost. You are viewing offline content."