.slide {
  margin-left: 0;
  -webkit-transition:0.2s ease-out all;
  transition:0.2s ease-out all;
  &.ng-hide {
    -webkit-transition:0.2s ease-in all;
    transition:0.2s ease-in all;
    margin-left: -109px;
  }
}