/* Styles for buttons */

.btn-action {
  padding: 0;
  margin: 0 0 0 15px;
  border-radius: 0;
  background: $primary-color-2;
  @media (min-width: 768px) {
    margin: 0 0 0 10px;
  }

  i {
    color: $white;
    padding: 4px 6px;
    box-shadow: 1px 1px 2px 0px $neutral-color-1;
    text-transform: none;
    @media (min-width: 768px) {
      padding: 2px 4px;
    }
  }

  .fa {
    font-size: 25px;
    font-weight: 100;
    @media (min-width: 768px) {
     font-size: 20px;
    }
  }

}

.btn-search {
  color: $primary-color-1;
  background-color: $input-bg;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  height: 40px;
  border: none;

  &:hover {
    color: $primary-color-1;
  }
}

