.contact-list-btn {
  width: 100%;
  background-color: $primary-color-1;
  text-align: center;
  height: 50px;
  position: fixed;
  margin-left: -15px;
  bottom: 0;
  z-index: 10;

  a {
    position: relative;
    color: $white;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    line-height: 2.2;
  }
}

.contact-list-btn__arrow {
  position: relative;
  margin-left: -25px;

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 18px 18px;
    border-color: transparent transparent $primary-color-1 transparent;
    top: -28px;
    margin: 0 auto;
  }
}

.contact-list-btn--list {

}

.contact-list-btn--filter {

}