#contactsid-app-view {
  padding-bottom: 40px;
  @media (min-width: 768px) {
    padding-bottom: inherit;
  }
  .active-countries {
    background: $primary-color-1;
    padding: 20px 40px;
    @include border-radius($border-radius-large);
    .back-link {
      float: right;
    }
    h3 {
      color: $white;
      text-align: center;
    }
    li.list-group-item {
      background: $secondary-color-2;
      border: none;
      border-top: 4px solid $primary-color-1;
      &:hover{
        background: $white;
        a {
          color: #000;
        }
      }
      a{
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .mobile-checkin {
    padding: 30px 30px 0;
  }
}