.index {
  margin-bottom: 0;
  #contactsid-app-view {
    margin: -20px auto 0;
    padding: 0;
    width: 100%;
    background: #55b1c8;
    background: -moz-linear-gradient(top, #55b1c8 0%, #45a3bd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55b1c8), color-stop(100%,#45a3bd));
    background: -webkit-linear-gradient(top, #55b1c8 0%,#45a3bd 100%);
    background: -o-linear-gradient(top, #55b1c8 0%,#45a3bd 100%);
    background: -ms-linear-gradient(top, #55b1c8 0%,#45a3bd 100%);
    background: linear-gradient(to bottom, #55b1c8 0%,#45a3bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55b1c8', endColorstr='#45a3bd',GradientType=0 );
  }
  .logo-bar {
    display: none;
  }
  .utility {
    display: block !important;
    height: 130px;
    bottom: -130px;
    @media(min-width: 768px) {
      height: 59px;
      bottom: auto;
    }
  }
}

.homepage{
  height: 100vh;

  color: #cbeef3;
  font-size: 13px;
  line-height: 1.5;
  .homepage-wrapper{
    padding-top: 150px;
    @media (min-width: $screen-sm) {
      padding-top: 100px;
    }
    h2 {
      text-align: center;
      margin: 0 0 20px;
    }
    .info {
      text-align: right;
    }

    .info:after {
      content: "";
      display: table;
    }
    .btn {
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      background: white;
      margin-bottom: 15px;
      padding: 9px 12px;
      border: none;
      color: #51adc6;
      @include border-radius($border-radius-base);
    }
    .btn:hover,
    .btn:active,
    #aboutBtn:hover,
    #aboutBtn:active {
      background-color: $secondary-color-4;
    }

    .btn-arrow:hover .fa {
      background-color: white;
      color: $secondary-color-4;
    }

    .btn-arrow .fa {
      background-color: #51adc6;
      color: white;
    }

    .btn-arrow .fa:before {
      line-height: .9;
      margin-left: 3px;
    }

    #aboutBtn {
      background: #bbb;
      color: white;
    }

    #aboutBtn .fa {
      background-color: white;
      color: #bbb;
    }

    .buttons:after {
      content: "";
      display: table;
    }
  }
}
