
  .container {
  width:100% !important;
  height:100% !important;
  }

  body
  {
    background: url(/images/background.png) no-repeat center center fixed !important; 
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      font-size: 12px !important;
      line-height: 3.42857 !important;
  }
  .offline-ui {display:none !important;}
  .header{ display:none !important;}
  .atlwdg-trigger { display:none !important;}
  .navbar
  {
    border-top: 3px solid #54889A !important;
  }
  .btn-primary {
    background-color: #fff !important;
    color: #54B1C8 !important;
  }
  .btn.btn-block span.fa {
      background-color: #54B1C8 !important;
      color: #fff;
  }
  .contactsid-app-view
  {display:none !important;}


  @media (max-width: 320px) {
    #logo
    {
    width:100%; height:100%;
    margin-bottom: 0% !important;
    margin-top: -7% !important;
    }
  }

  @media (max-width: 1600px) {
    .container.login {
      background: #79CFDF;
      border-radius: 15px;
      box-shadow: 0 0 15px #333;
      -moz-box-shadow: 0 0 15px #333;
      padding: 30px;
      max-width:500px;
      margin-top:-10%;
    }
    #logo
    {
    width:100%; height:100%;
    margin-top:10%;
    margin-bottom: 10%;
    }
  }
  @media (min-width: 1600px) {
    .container.login {
      background: #79CFDF;
      border-radius: 15px;
      box-shadow: 0 0 15px #333;
      -moz-box-shadow: 0 0 15px #333;
      padding: 30px;
      max-width:600px;
      margin-top:-10%;
      margin-left:20%;
      padding-bottom:10px !important;

    }

    #logo
    {
    width:120%; height:120%;
    margin-top:10%;
    margin-bottom: 10%;
    }
  }
  .navbar-inverse
  {
    background-color: #2B5D82; 
    color: none !important;
  }
  .index #contactsid-app-view
  {
    background: none !important;
    margin: 10% 0 auto;
  }
  @media (min-width: 500px) {
  #video
  {
    width:100%; height:240px;
  }
}
@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}
@media (max-width: 500px) {
  #video
  {
  width:100%; height:100%;
  }
}


.homepage{
  height: 100vh;

  color: #cbeef3;
  font-size: 13px;
  line-height: 1.5;
  .homepage-wrapper{
    padding-top: 150px;
    @media (min-width: $screen-sm) {
      padding-top: 100px;
    }
    h2 {
      text-align: center;
      margin: 0 0 20px;
    }
    .info {
      text-align: right;
    }

    .info:after {
      content: "";
      display: table;
    }
    .btn {
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      background: white;
      margin-bottom: 15px;
      padding: 9px 12px;
      border: none;
      color: #51adc6;
      @include border-radius($border-radius-base);
    }
    .btn:hover,
    .btn:active,
    #aboutBtn:hover,
    #aboutBtn:active {
      background-color: $secondary-color-4;
    }

    .btn-arrow:hover .fa {
      background-color: white;
      color: $secondary-color-4;
    }

    .btn-arrow .fa {
      background-color: #51adc6;
      color: white;
    }

    .btn-arrow .fa:before {
      line-height: .9;
      margin-left: 3px;
    }

    #aboutBtn {
      background: #bbb;
      color: white;
    }

    #aboutBtn .fa {
      background-color: white;
      color: #bbb;
    }

    .buttons:after {
      content: "";
      display: table;
    }
  }
}

