.setting-heading {
	font-size: 26px;
	font-family: Exo2light;
}
.setting-radio {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	background-color: white;
	border-radius: 8px;
	border-color: #DEDEDE;
	border-style: solid;
	border-width: thin;
}

.setting-radio-selected {
	background-color: #BAE4EF;
	color: #327595;
	border-color: #90DBEF;
	
	> label {
		font-weight: bold;
	}
}

.setting-radio-url {
	color: rgb(51, 118, 149);
    font-size: smaller;
    border-style: groove;
    border-radius: 5px;
    background-color: rgb(240, 255, 255);
}