.custom-contact-lists {
  td.actions {
    min-width: 110px;
  }
}

.list-group {
  .list-group-item {
    margin-bottom: 10px;
    .row {
      display: flex;
      align-items: center;
    }
  }
}

.hid-list-link {
  font-weight: bold;
  text-transform: uppercase;
}

