.container {
  .control-label {
    font-weight: normal;
    color: $primary-color-2;
    display: block;
    text-align: left;
  }
  .col-sm-4 {
    .control-label {
      padding-left: 3px;
    }
  }
}

.form-group.bottom-submit {
  margin-top: 20px;
}