.profile-image {
  &.empty .profile-image-actions,
  &:hover .profile-image-actions {
    opacity: 1;
  }
  &.open {
    .profile-image-actions {
      opacity: 1;
      bottom: 30px;
      margin-bottom: 0px;
    }
    .profile-image-wrapper img {
      opacity: 0.1;
    }
  }

  .profile-image-wrapper {
    height: 324px;
    background-color: $neutral-color-3;
    text-align: center;
    img {
      vertical-align: middle;
      max-height: 324px;
      max-width: 324px;
      opacity: 1;
    }
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .form-elements-profile-image {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    padding:60px 30px 0;
    z-index: 10;
  }

  .profile-image-actions {
    opacity: 0;
    padding: 0 30px;
    -webkit-transition:0.2s ease-in all;
    transition:0.2s ease-in all;
    z-index: 10;
  }
}

.page-contact .profile-image .profile-image-wrapper {
  height: 256px;
  margin-bottom: 20px;
  background-color: transparent;
  @media (min-width: $screen-sm) {
    margin-top: 20px;
    height: 216px;
  }
  @media (min-width: $screen-md) {
    height: 208px;
  }
  @media (min-width: $screen-lg) {
    height: 256px;
  }
  img {
    max-height: 256px;
    max-width: 256px;
    @media (min-width: $screen-sm) {
      max-height: 216px;
      max-width: 216px;
    }
    @media (min-width: $screen-md) {
      max-height: 208px;
      max-width: 208px;
    }
    @media (min-width: $screen-lg) {
      max-height: 256px;
      max-width: 256px;
    }
  }
}
