.profile-item {
  margin-bottom: 8px;
  overflow: hidden;

  .btn-warning.slide {
    background: $secondary-color-1;
    float:left;
    height: 100%;
    width: 109px;
    line-height: 42px;
    border-radius: 0;
    margin-top: -15px;
    margin-bottom: -15px;
    padding-top: 21px;
    padding-bottom: 21px;

    @media (min-width: 768px) {
      line-height: 32px;
    }
  }

  h4 {
    float: left;
    padding: 0;
    margin: 0;
    width: 80%;
    margin-right: -200px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;

    a {
      display: block;
      color: $primary-color-1;
      padding: 30px 15px;
      margin: -15px 0;

      @media (min-width: 768px) {
        padding: 25px 15px;
        display: inline-block;
      }
    }

    .profile-item-disaster-spacer {
      display: none;

      @media (min-width: 768px) {
        display: inline;
      }
    }
  }

  .btn-group {
    float: right;
    margin: 9px 8px;
    .btn {
      padding: 0;
      margin: 0 0 0 15px;
      border-radius: 0;
      background: $primary-color-2;
      @media (min-width: 768px) {
        margin: 0 0 0 10px;
      }
      i{
        color: $white;
        padding: 4px 6px;
        box-shadow: 1px 1px 2px 0px $neutral-color-1;
        text-transform: none;
        @media (min-width: 768px) {
         padding: 2px 4px;
        }
      }
    }
  }
  .fa {
    font-size: 25px;
    font-weight: 100;
    @media (min-width: 768px) {
     font-size: 20px;
    }
  }
}

.page-services .profile-item .btn-group {
  .btn i {
    font-size: 14px;
  }
  .btn-subscribe {
    font-family: $font-family-sans-serif;
  }
}

.list-group {
  margin-bottom: 30px;
}
.intl-tel-input {
  display: block;
}
