.container {
  .control-label {
    font-weight: normal;
    color: $primary-color-2;
    display: block;
    text-align: left;
  }
  .col-sm-4 {
    .control-label {
      padding-left: 3px;
    }
  }
}

.row.bottom-submit {
  margin-top: 20px;
}

.alert-wrapper ul {
  padding-left: 20px;
}

.admin-area {
  background-color: $neutral-color-3;
  @include border-radius($border-radius-base);
}

.section {
  margin-bottom: 30px;
  position:relative;
}

h2.profile-title {
  color: $primary-color-1;
}