.affiliate-logo {
  width: 77px;
  height: 40px;
  border-right: 1px solid $neutral-color-3;
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
}

.humanitarian-response {
  background-position: 0 10px;
}

.relief-web {
  background-position: 0 -33px;
}

.hdx {
  background-position: 0 -75px;
}