/* Base */

body {
  background: url(../images/bg.png);
  font-family: arial, sans serif;
}

.contactsid-app {

  p {
    margin: 0 0 9px;
  }

  .list-content {
    margin-top: 20px;
  }

  .active-countries-container li a,
  .active-operations-container li a,
  .active-contacts-container li a {
    display: block;
  }
}

.text-highlight {
  color: lighten($primary-color-3, 6);
}