/* Base */

body {
  background: url(../images/bg.png);
  font-family: arial, sans serif;
  .entypo {
    float: left;
    font-family: "entypo";
    font-size: 4em;
    font-style: normal;
  }
}

.contactsid-app {

  p {
    margin: 0 0 9px;
  }

  .list-content {
    margin-top: 20px;
  }

  .active-countries-container li a,
  .active-operations-container li a,
  .active-contacts-container li a {
    display: block;
  }
}

.text-highlight {
  color: lighten($primary-color-3, 6);
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
