.btn-lg, .btn-md, .btn-sm {
  @include border-radius($border-radius-base);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  padding: 11px 16px;
  text-decoration: none;
}

.btn-default, .btn-warning {
  border: none;
  &:hover {
    background-color: darken($neutral-color-1, 5);
  }
}

.btn-primary {
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: darken($primary-color-1, 5);
  border: none;
}

.btn-login-controls {
  color: $white;
  background-color: $primary-color-1;
  border: none;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    background-color: darken($primary-color-1, 5);
  }
}

.btn.btn-block {
  line-height: 2.2;
  font-size: 12px;
  //position: relative;

  @media (min-width: 768px) {
    line-height: 16px;
  }
  i {
    margin-top: 3px;
    @media (min-width: 768px) {
      margin-top: -2px;
    }
  }
  span.fa {
    float: left;
    font-size: 20px;
    font-style: normal;
    text-transform: none;
    background-color: $white;
    border-radius: 50%;
    color: white;
    border-radius: 25px;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    color: $primary-color-1;
    @media (min-width: 768px) {
      margin-top: -2px;
    }
    &:before {
      line-height: .9;
      
    }
  }
}

.btn-danger{
  background-color: $brand-danger;
  &:hover {
    background-color: darken($brand-danger, 5);
  }
}