@font-face {
  font-family: 'exo2';
  src: url('../fonts/exo2/exo2-semibold-webfont.eot');
  src: url('../fonts/exo2/exo2-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/exo2/exo2-semibold-webfont.woff2') format('woff2'),
  url('../fonts/exo2/exo2-semibold-webfont.woff') format('woff'),
  url('../fonts/exo2/exo2-semibold-webfont.ttf') format('truetype'),
  url('../fonts/exo2/exo2-semibold-webfont.svg#exo_2bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
