/* Forms */
.form-group {
  .reveal {
    margin-bottom: 5px;
  }
}

.form-control {
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
  border: none;
}

.form-control,
.angucomplete-searching {
  color: $primary-color-1;
  @include placeholder {
    color: $text-light;
  }
  &.disabled {
    color: $text-light;
  }
}

.form-elements-phone,
.form-elements-email,
.form-elements-voip {
  .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    @include border-radius(0px);
    border: 1px solid $neutral-color-2;
  }

  .form-prefix {
    padding-right: 0px;
    .form-control {
      border-right: none;
    }
  }

  .form-suffix {
    padding-left: 0px;
    .form-control {
      border-left: none;
      text-align: right;
    }
  }

  .form-body {
    padding-left: 0px;
    padding-right: 0px;
    .form-control {
      border-left: none;
      border-right: none;
      text-align: right;
    }
  }
  .form-body:before,
  .intl-tel-input:before,
  .form-prefix:before {
    content: "";
    border-left: 1px solid $neutral-color-2;
    height: 22px;
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 10;
  }

  &.has-error {
    .form-control {
      border-color: /*1px solid */$secondary-color-1;
    }

    .form-prefix {
      &:before {
        border-left: 1px solid $secondary-color-1;
      }
    }
  }

}
.btn-reveal {
  position: relative;
  padding-right:25px;

  button {
    position: absolute;
    top:5px;
    right:0;
    width: 30px;
    height: 30px;
    border:none;
    @include border-radius(20px);
    background-color: $primary-color-2;

    &.add {
      background-color: $primary-color-1;
    }
    i {
      color: $white;
    }
  }

  .form-elements-phone,
  .form-elements-email,
  .form-elements-voip {
    button {
      right:-10px;
    }
  }
}

.form-elements-phone {
  .form-suffix .form-control {
    text-align: left;
  }
}

.ui-select-multiple.ui-select-bootstrap {
  .btn-default {
    background-color: $secondary-color-3;
    @include border-radius($border-radius-base);
    color: $text-color;
    padding: 5px;
    border: 1px solid $neutral-color-3;
    //-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    //box-shadow: 1px 1px 5px rgba(0,0,0,.1);
  }
  .ui-select-match .close {
    margin-top: 3px;
  }
}
