/* Forms */

.form-control {
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
  border: none;
}

.form-control,
.angucomplete-searching {
  color: $primary-color-1;
  @include placeholder {
    color: $text-light;
  }
}

.form-elements-email,
.form-elements-voip {
  .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    @include border-radius(0px);
    border: 1px solid $neutral-color-2;
  }

  .col-xs-5 {
    padding-right: 0px;
    .form-control {
      border-right: none;
    }
  }
  .col-xs-7 {
    padding-left: 0px;
    &:before {
      content: "";
      border-left: 1px solid $neutral-color-2;
      height: 20px;
      padding: 6px 0;
      position: absolute;
      bottom: 6px;
    }
    .form-control {
      border-left: none;
      text-align: right;
    }
  }
}

