.h1, h2, .h2, h3, .h3 {
  margin-bottom: 12px;
  small {
    color: $text-light;
    font-size: $font-size-base;
    text-transform: uppercase;
  }
}

h3 {
  margin-top: 12px;
  text-transform: uppercase;
  color: $text-light;
}

.heading-contact-list {
  color: $primary-color-1;
  width: 100%;
  text-align: center;
}

.heading-custom-contacts-list {
  color: $primary-color-1;
}
