.h1, h2, .h2, h3, .h3 {
  margin-bottom: 12px;
}

h3 {
  margin-top: 12px;
  text-transform: uppercase;
  color: $text-light;
  font-size: 12px;
}

.heading-contact-list {
  color: $primary-color-1;
  width: 100%;
  text-align: center;
}