/* Color Variables */

$white: #fff;

$primary-color-1: #54b1c8; /* Main aqua color */
$primary-color-2: #767676; /* Darker grey used in text and controls */
$primary-color-3: #98dae6; /* Lighter blue color used in menu and sort grips */

$secondary-color-1: #B8303E; /*Red color used for cancel options*/

$neutral-color-1: #ababab; /* Used for grey tabs */
$neutral-color-2: #b9b9b9; /* Used for primary nav active state */
$neutral-color-3: #e4e4e4; /* Thin separating line */

$background-light: #fafafa; /* Used for repeating profile items */

/* Text color variaibles */
$text-normal: $primary-color-2;
$text-light: #afafaf;

