.sidebar-left {
  //@include span(4 of 12);
  float: left;
  padding-left: 0;
  a{
    line-height: 16px;
    i.entypo {
      @extend %rounded-icon;
      color: $primary-color-1;
    }
  }
}
.main-content {
  //@include span(last 8 of 12);
  float: right;
  .profile-item {
    overflow: hidden;
    .btn-warning.btn-hidden {
      float: left;
      background: $secundary-color-1;
      height: 45px;
      width: 109px;
      line-height: 24px;
    }
    h4 {
      float: left;
      padding: 3px 15px;
      &, a{
        color: $primary-color-1;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .btn-group {
      float: right;
      margin: 7px;
      .btn {
        padding: 0;
        margin: 3px 5px;
        border-radius: 0;
        background: $primary-color-2;
        i{
          color: $white;
          padding: 2px 4px;
          box-shadow: 1px 1px 2px 0px $neutral-color-1;
        }
      }
    }
    .fa {
      font-size: 24px;
      font-weight: 100;
    }
  }
  .btn-group {
    .btn-checkout {
      &:hover {
        background: $secundary-color-1;
      }
    }
  }
}
