.sidebar-left {
  float: left;
  padding-left: 0;
}
.main-content {
  float: right;
  .profile-item {
    overflow: hidden;
    .btn-warning.btn-hidden {
      float: left;
      height: 45px;
      width: 109px;
      line-height: 24px;
    }
    h4 {
      float: left;
      padding: 0;
      margin: 0;
      a {
        display: block;
        width: 100%;
        padding: 15px;
      }
    }
    .btn-group {
      float: right;
      margin: 7px;
      .btn {
        padding: 0;
        margin: 3px 5px;
        border-radius: 0;
        i{
          padding: 2px 4px;
        }
      }
    }
  }
}
