<div class="row">
  <div class="col-xs-12">
    <div class="masthead">
      <h2 translate>About Humanitarian ID</h2>
    </div>
    <div class="alert-wrapper">
      <browser-alert></browser-alert>
    </div>
    <div class="info">
      <p translate>The Humanitarian ID contact management solution, currently in alpha, is aimed at building accurate contact lists, enabling rapid connections during emergencies and discovering your appropriate network of responders.</p>

      <p><span translate>You are welcome to register and test the application on our</span> <a href="http://app.humanitarian.id" translate>development server</a>.</p>

      <p><span translate>If you would like to find out more about the project, understand the objectives and benefits, join our mailing list, or simply contact us, visit</span> <a href="http://humanitarian.id">http://humanitarian.id</a> <span translate>and</span> <a href="https://twitter.com/HumanitarianID" translate>follow us on Twitter</a>.</p>
    </div>
  </div>
</div>

