<div class="back-btn back-btn-head btn">
  <a ng-click="goBack()"><i class="fa fa-chevron-left"></i><span></span></a>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="masthead">
      <h2 translate>About Humanitarian ID</h2>
    </div>
    <div class="alert-wrapper">
      <browser-alert></browser-alert>
    </div>
    <div class="info">
      <p><span translate>Humanitarian ID is a way to help humanitarian responders find, connect, and collaborate at the time of a humanitarian crisis (protracted or sudden onset). By making this process faster and smoother, the responders have more time to focus on what is needed most: saving lives and alleviating suffering.</span></p>

      <p><span translate>Once registered, simply check into a country / emergency and specify your contact details for the contact list. You are always in control. You choose what details are available. When you are no longer responding, simply check out and your details will automatically be removed.</span></p>
      
      <p><span translate>We require that all of those who register and make use of the solution behave according to our </span> <a href="http://humanitarian.id/code-of-conduct/" translate>Code of Conduct</a>.</p>

      <p><span translate>We guess that if you have landed on this page you may have questions. Rest assured, we have an <a href="http://humanitarian.id/faqs/">FAQ page</a> that addresses the most common questions that we receive. Ranging from checking into multiple emergencies to explaining verified users to detailing how to have a missing organization added to requesting one's information be removed, we hope that the </span> <a href="http://humanitarian.id/faqs/" translate>FAQ page</a> <span translate> will answer your question. If not, do not be afraid to </span> <a href="mailto:info@humanitarian.id" translate>contact us</a>.</p>

      <p><span translate>The Humanitarian ID solution has been created and is maintained by the United Nations Office for the Coordination of Humanitarian Affairs (OCHA). OCHA freely provides the solution to the humanitarian community.</span></p>

      <p><span translate>If you would like to find out more about the project,</span> <a href="http://humanitarian.us9.list-manage1.com/subscribe?u=c58d447182fca2df4bd9a389b&id=54af906854" translate>join our mailing list</a>, <span translate>read </span> <a href="http://humanitarian.id/faqs/" translate>our FAQs</a>, <span translate>or simply </span> <a href="mailto:info@humanitarian.id" translate>contact us</a>.</p>

      <p><a href="http://humanitarian.id/" translate>Humanitarian ID</a></p>

      <p><span translate>Check out our animation, </span> <a href="https://twitter.com/humanitarianid" translate>follow us on Twitter</a>, <span translate>and subscribe to our </span> <a href="https://www.youtube.com/channel/UCdwG_tbluWKsfM3rLfnX_fg" translate>YouTube channel</a>.</p>
    </div>
  </div>
</div>

