<div class="masthead">
  <h2 translate>About Humanitarian.ID</h2>
</div>

<div class="info">
<p>The Humanitarian.ID contact management solution, currently in alpha, is aimed at building accurate contact lists, enabling rapid connections during emergencies and discovering your appropriate network of responders.</p>

<p>You are welcome to register and test the application on our <a href="http://app.humanitarian.id">development server</a>.</p>

<p>If you would like to find out more about the project, understand the objectives and benefits, join our mailing list, or simply contact us, visit <a href="http://humanitarian.id">http://humanitarian.id</a> and <a href="https://twitter.com/HumanitarianID">follow us on Twitter</a>.</p>
</div>