<div ng-if="supported">
    <div class="alert alert-danger" role="alert">
      <p translate>For security and performance, this is built to run in Internet Explorer 10 and above, Apple Safari, Google Chrome, or Mozilla Firefox.</p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a class="btn btn-primary btn-lg btn-block" href="https://www.google.com/intl/en/chrome/browser/" translate>Download Google Chrome</a>
          <a class="btn btn-primary btn-lg btn-block" href="https://www.mozilla.org/en-US/firefox/new/" translate>Download Mozilla Firefox</a>
        </div>
      </div>
    </div>
</div>