<div class="back-btn back-btn-head btn" ng-class="{'back-btn-head-mob': contact}">
  <a ng-click="goBack()"><i class="fa fa-chevron-left"></i><span></span></a>
</div>
<div class="masthead" ng-show="contact != null">
  <div class="main row page-contact" ng-show="!isRouteLoading" ng-class="{'show-options': sidebarOptions}">
    <div class="sidebar-left">
      <div ng-show="!isRouteLoading">
        <div class="visible-xs">
          <div class="bottom-fixed-btn" role="presentation">
            <a href ng-click="sidebarOptions = !sidebarOptions"><div class="bottom-fixed-btn__arrow"></div><span translate>Options</span></a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 actions-wrapper">
      <div class="back-btn btn">
        <a ng-click="goBack()"><i class="fa fa-chevron-left"></i><span></span></a>
      </div>

        <div class="profile-image hidden-xs" ng-show="imageUrl || gravatarUrl">
          <div class="profile-image-wrapper">
            <span class="helper"></span>
            <img ng-if="!isOffline()" class="fade" ng-src="{{imageUrl || gravatarUrl}}">
            <img ng-if="isOffline()" class="fade" ng-src="images/profile-offline.png">
          </div>
        </div>
        <div class="actions">
          <a class="btn btn-primary btn-lg btn-block" ng-show="userCanEditProfile" href="#/profile/{{contact._id}}" translate>Edit Profile</a>
          <a class="btn btn-primary btn-lg btn-block" ng-show="userCanEditProfile" ng-click="editSubscriptionsModal()" translate>Edit Subscriptions</a>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-show="contact.status" ng-click="addContact()" ng-bind="contactListText()"></button>
          <a class="btn btn-primary btn-lg btn-block" ng-show="userCanCheckIn" href="#/checkin/{{profile._id}}" translate>Check-in User</a>
          <a class="btn btn-primary btn-lg btn-checkout btn-block" ng-if="contact.type === 'local'" ng-show="userCanCheckOut" ng-click="contact.confirmDelete = !contact.confirmDelete" translate>Check-out User</a>
          <a ng-show="contact.confirmDelete" class="fade btn btn-warning btn-lg btn-block" ng-click="checkout(contact._id)" translate>Confirm User Checkout</a>
          <a class="btn btn-primary btn-lg btn-block" ng-click="generateVcard()" translate>Export Contact Info</a>
          <a class="btn btn-primary btn-lg btn-block" ng-show="userCanSendClaimEmail" ng-click="confirmSendEmail = !confirmSendEmail" translate>Send Claim Email</a>
          <a ng-show="confirmSendEmail" ng-disabled="sendingClaimEmail" class="fade btn btn-warning btn-lg btn-block" ng-click="sendClaimEmail()" translate>Confirm Send Claim Email</a>
          <a class="btn btn-lg btn-primary btn-block" ng-disabled="submitProcessing" ng-click="contact.confirmNotify = !contact.confirmNotify" translate>Report a Problem</a>
          <a ng-show="contact.confirmNotify" ng-disabled="sendingNotifyEmail" class="fade btn btn-warning btn-lg btn-block" ng-click="reportProblem()" translate>Send Notification</a>
          <div class="org-editor-area" ng-show="isOrganizationEditor">
           <h4 translate>Organization Administration</h4>
            <label class="control-label" for="organizations" translate>Affiliation</label>
            <select class="form-control" ng-model="selectedOrg" ng-options="organization.organizationName for organization in organizationOptions">
            </select>
            <a class="btn btn-primary btn-lg btn-block" ng-click="updateOrganization()" translate>Save Verification</a>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <div class="row col-fill-wrap">
        <div class="col-xs-12 col-sm-8 profile-view col-fill">
            <div class="col-fill-inner">
              <div class="profile-view__name-area">
                <h1 class="profile-view__name">{{contact.nameGiven}} {{contact.nameFamily}} ({{locationText()}})</h1>

                <div class="profile-view__markers">
                  <div class="contact-item__verified verified-profile-use" ng-if="profile.verified"><i
                      class="fa fa-check-circle" title="{{'verified' | translate}}"></i></div>

                  <span ng-if="profile.verified" class="profile-view__key-contact-verified">
                    (<span ng-if="profile.verified" translate>verified</span>)
                  </span>
                </div>
              </div>


              <div class="profile-view__items same-height-col">

                <div class="profile-image visible-xs" ng-show="imageUrl || gravatarUrl">
                  <div class="profile-image-wrapper">
                    <span class="helper"></span>
                    <img ng-if="!isOffline()" class="fade" ng-src="{{imageUrl || gravatarUrl}}">
                    <img ng-if="isOffline()" class="fade" ng-src="images/profile-offline.png">
                  </div>
                </div>
                <div class="phone" ng-repeat="phone in contact.phone">
                  <div class="profile-view__item">{{phone.type | translate}}: <a href="tel:{{phone.number}}">{{phoneDisplay(phone.number)}}</a></div>
                </div>
                <div class="email" ng-repeat="email in contact.email">
                  <div class="profile-view__item"><span ng-show="email.type">{{email.type | translate}}: </span> <a href="mailto:{{email.address}}">{{email.address}}</a></div>
                </div>
                <div class="voip" ng-repeat="voip in contact.voip">
                  <div class="profile-view__item">{{voip.type}}: {{voip.number}}</div>
                </div>
                <div class="uri">
                  <span translate>Website/Social Media</span>:
                  <div class="uri" ng-repeat="uri in contact.uri"><a href="{{setHttp(uri)}}">{{setHttp(uri)}}</a></div>
                </div>
              </div>

              <div class="notes">

                <div class="departure-date" ng-show="contact.displayDepartureDate">
                  <div class="profile-view__item"><span translate>Departure from</span> {{locationText()}}: {{contact.displayDepartureDate}}</div>
                </div>

                <span translate>Notes</span>:
                <div class="notes">{{contact.notes}}</div>
              </div>
            </div>
        </div>

        <div class="col-xs-12  col-sm-4 profile-right-sidebar col-fill">
          <div class="col-fill-inner">
            <div class="location right-sidebar-group">
              <span class="group-label" translate>Location</span>
              <div class="country profile-view__item">{{contact.address[0].country}}</div>
              <div class="profile-view__item">{{contact.address[0].administrative_area}}</div>
              <div class="profile-view__item">{{contact.address[0].locality}}</div>
            </div>
            <div class="organization right-sidebar-group">
              <span class="group-label" translate>Organization</span>
              <strong>{{contact.organization[0].name}}</strong>
            </div>
            <div class="jobtitle right-sidebar-group">
              <span class="group-label" translate>Job Title</span>
              <strong>{{contact.jobtitle}}</strong>
            </div>
            <div class="right-sidebar-group">
              <span class="group-label" translate>Groups</span>
              <span class="title"><strong>{{contact.bundle.join(', ')}}</strong></span>
            </div>
            <div class="right-sidebar-group">
              <span class="group-label" translate>Protected Groups</span>
              <span class="title"><strong>{{contact.protectedBundles.join(', ')}}</strong></span>
            </div>
            <div class="right-sidebar-group" ng-if="contact.type === 'local' && contact.disasters.length">
              <span class="group-label" translate>Disasters</span>
              <span>
                <ul>
                  <li ng-repeat="dis in contact.disasters | orderBy: 'name'"><strong>{{dis.name}}</strong></li>
                </ul>
              </span>
            </div>
            <div class="right-sidebar-group" ng-if="contact.type === 'global'">
              <span class="group-label" translate>Operations</span>
              <span class="title" ng-repeat="pcon in profileContacts | orderBy: 'location'">
                <strong><a href="#/contact/{{pcon._id}}">{{pcon.location}}</a></strong>
                <ul ng-if="pcon.disasters.length">
                  <li ng-repeat="dis in pcon.disasters | orderBy: 'name'">{{dis.name}}</li>
                </ul>
              </span>
            </div>
            <div class="right-sidebar-group" ng-if="contact.type === 'local'">
              <span class="group-label" translate>Global Profile</span>
              <span class="title"><strong><a href="#/contact/{{globalContactId}}" ng-if="globalContactId">{{contact.nameGiven}} {{contact.nameFamily}} (<span translate>Global</span>)</a></strong></span>
            </div>
            <div class="right-sidebar-group">
              <span class="group-label" translate>Role</span>
              <span class="title"><strong>{{contact.protectedRolesByName.join(', ')}}</strong></span>
            </div>
            <div class="right-sidebar-group" ng-if="contact.displayRevisedDate" >
              <span class="group-label" translate>Last Updated</span>
              <span class="title"><strong>{{contact.displayRevisedDate}}</strong></span>
            </div>
            <div class="right-sidebar-group" ng-if="contact.displayCreatedDate">
              <span class="group-label" translate>Created</span>
              <span class="title"><strong>{{contact.displayCreatedDate}}</strong></span>
            </div>
            <div class="right-sidebar-group" ng-if="profile.verified && userIsAdmin">
              <span class="group-label" translate>Verified By:</span>
              <span class="title"><strong><a href="#/contact/{{profile.verifiedByID}}">{{profile.verifiedByName}}</strong></a></span> 
            </div>
            <div class="right-sidebar-group" ng-if="profile.verified && userIsAdmin">
              <span class="group-label" translate>Verification Date:</span>
              <span class="title"><strong>{{profile.verificationDate | date:'yyyy-MM-dd' }}</strong></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
