<div class="masthead" ng-show="!isRouteLoading">
  <h2 translate>Create New Account</h2>
</div>

<div class="main" ng-show="!isRouteLoading">
  <form name="createAccountForm" novalidate ng-submit="validateAccount()">
    <div class="row">
      <div class="account-create  col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-hide='accountConfirm || ghostWarning'>

        <div class="form-group">
          <label class="control-label-light small">* <span translate>Required Field</span></label>
          <label class="control-label-light small">** <span translate>Highly Encouraged Field</span></label>
        </div>

        <div class="form-group">
          <label class="control-label-light" for="location">* <span translate>Crisis</span></label>
          <select class="form-control" name="location" ng-model="profile.location" ng-options="item.name for item in availOperations" ng-blur="focus=0" focus-field="focus" required ng-class="{invalid: submitted && createAccountForm.location.$invalid}">
              <option value=""></option>
          </select>
          <div class="error" ng-show="createAccountForm.location.$error.required && submitted" translate>Crisis is required.</div>
        </div>

        <div class="form-group">
          <label class="control-label-light" for="nameGiven">* <span translate>Given Name</span></label>
          <input class="form-control" type="text" name="nameGiven" ng-model="profile.nameGiven" required  ng-class="{invalid: submitted && createAccountForm.nameGiven.$invalid }"/>

          <div class="error" ng-show="createAccountForm.nameGiven.$error.required && submitted" translate>Given Name is required.</div>
        </div>

        <div class="form-group">
          <label class="control-label-light" for="nameFamily">* <span translate>Family Name</span></label>
          <input class="form-control" type="text" name="nameFamily" ng-model="profile.nameFamily" required  ng-class="{invalid: submitted && createAccountForm.nameFamily.$invalid }"/>
          <div class="error" ng-show="createAccountForm.nameFamily.$error.required && submitted" translate>Family Name is required.</div>
        </div>

        <div class="form-group">
          <label class="control-label-light" for="jobtitle">* <span translate>Job Title</span></label>
          <input class="form-control" type="text" name="jobtitle" ng-model="profile.jobtitle" required  ng-class="{invalid: submitted && createAccountForm.jobtitle.$invalid }"/>
          <div class="error" ng-show="createAccountForm.jobtitle.$error.required && submitted" translate>Title is required.</div>
        </div>

        <div class="form-group">
          <label class="control-label-light" for="organization" translate>Organization</label>

          <ui-select
            class="form-control form-control-light {{$select.searching ? 'searching' : ''}}"
            name="organization"
            ng-model="profile.organization[0].name"
            theme="bootstrap"
            reset-search-input="true"
            on-select="onSelect($item, 'organization.name')">
              <ui-select-match placeholder="{{'Search for organizations'|translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="org.name as org in organizations | orderBy:'name'" refresh="refreshOrganization($select, 2)" ui-disable-choice="org.disable">
                <div ng-bind-html="org.alt || (org.name | highlight: $select.search) "></div>
              </ui-select-choices>
          </ui-select>

          <div class="error" ng-show="createAccountForm.organization.$error.required && submitted" translate>Organization is required.</div>

          <div class="help-block"><span translate>Request to</span> <a href="http://www.humanitarianresponse.info/help/webform/add-new-organization-form" target="_blank" translate>add a missing organization</a>.</div>
        </div>

        <div class="form-group">
          <label class="control-label-light" for="phone" translate>Phone</label>
          <input class="form-control" type="text" name="phone" ng-model="profile.phone[0].number" />
        </div>

        <div class="form-group">
          <label class="control-label-light" for="email">** <span translate>Email</span></label>
          <input class="form-control" type="text" name="email" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-model="profile.email[0].address" />
          <div class="error" ng-show="createAccountForm.email.$error.pattern && submitted" translate>Valid email is required.</div>
        </div>

        <button class="btn btn-default btn-lg btn-block" ng-disabled="createButtonDisabled" type="submit" translate>Create Account</button>
      </div>
  </div>

  <div class="row">
    <div class= "account-create col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-3" ng-show='ghostWarning' >
      <div class="ghost-warning">
        <h2 class="created-title" translate>Please add an email address</h2>
        <p class="control-label-light" translate>If a person does not have an email address associated with their information, they will not be able to claim their account.</p>
        <p class="control-label-light" translate>Are you sure that you want to create an account for <b>{{profile.nameGiven}} {{profile.nameFamily}}</b> with no email address?</p>

        <div class="form-group">
          <input class="form-control" type="text" name="email2" placeholder="{{'Email Address' | translate}}" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-model="profile.email[0].address" />
          <div class="error" ng-show="createAccountForm.email2.$error.pattern && submitted" translate>Valid email is required.</div>
        </div>

        <button class="btn btn-default btn-lg btn-block" ng-disabled="createButtonDisabled" type="submit" translate>Create Account</button>
      </div>
    </div>
  </div>
  </form>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" ng-show='accountConfirm || ghostConfirm' >
      <div class="confirm">
        <h2 class="created-title">{{confirmTitle}}</h2>
        <p class="confirm-message">{{confirmMessage}}</p>
        <a class="btn btn-primary btn-lg btn-block" href="{{editPath}}">
          <span class="fa fa-angle-right"></span> {{editButtonText}}
        </a>
        <a class="btn btn-default btn-lg btn-block" href="#/dashboard">
          <span class="fa fa-angle-right"></span> <span translate>Dashboard</span>
        </a>
        <a class="btn btn-primary btn-lg btn-block"  ng-click="resetAccount()">
          <span class="fa fa-angle-right"></span> <span translate>Create New Account</span>
        </a>
      </div>
    </div>
  </div>
</div>
