<div class="masthead container">
  <h2>{{title}}</h2>
</div>

<div ng-show='!isRouteLoading' class="container">
  <h3>My active profiles</h3>
  <div class="sidebar-left col-xs-3">
    <div class="actions">
      <a class="btn btn-primary btn-lg btn-block" href="#/contactsId/checkin"><i class="entypo">&#59234;</i> Checkin</a>
      <a class="btn btn-primary btn-lg btn-block" ng-show="!globalProfileId.length" href="#/contactsId/profile/{{globalProfileId}}"><i class="entypo">&#128100;</i> Global Profile</a>
      <a class="btn btn-default btn-lg btn-block" href="{{logoutPath}}">Logout</a>
    </div>
  </div>
  <div class="active-profiles main-content col-xs-9" cg-busy="dashboardDataTracker">
    <ul class="active-profiles-container list-group">
      <li class="profile-item list-group-item" ng-repeat="profile in userData.contacts" ng-class="{'list-group-item-info' : profile.type == 'global'}">
        <a style= "display: none;"class="btn btn-warning btn-sm btn-hidden" href ng-click="checkout(profile._id)" ng-if="profile.type == 'local'">Check Out</a>
        <h4>
          <span class="profile-item-name" ng-if="profile.type == 'global'">Global Contact List</span>
          <a href="#/contactsId/profile/{{profile._id}}">
          <span class="profile-item-name" ng-if="profile.type == 'local'">{{profile.location}}
          <span class="operation" ng-show="profile.operation.length"> &ndash; {{profile.operation}}</span>
          </span></a>
        </h4>
        <div class="btn-group">
        <a class="btn btn-sm" href="#/contactsId/profile/{{profile._id}}"><i class="fa fa-pencil-square-o" title="Edit"></i></a>
          <a class="btn btn-sm" href="#/contactsId/list/global" ng-if="profile.type == 'global'"><i class="fa fa-list-alt"></i></a>
          <a class="btn btn-sm" href="#/contactsId/list/{{profile.locationId}}" ng-if="profile.type == 'local'" title="Contact List"><i class="fa fa-list-alt"></i></a>
          <a class="btn btn-checkout btn-sm" ng-if="profile.type == 'local'" title="Check Out"><i class="fa fa-times"></i></a>
        </div>
      </li>
      <li class="disaster-item" ng-if="profilesActive.length == 0">
        <em>No profiles found.</em>
      </li>
    </ul>
  </div>
</div>
