<div class="masthead element-invisible">
  <h2 translate>Humanitarian ID</h2>
</div>

<div ng-show='!isRouteLoading' class="main row page-dashboard" ng-class="{'show-options': sidebarOptions}">
  <div class="active-profiles main-content col-xs-12 col-sm-8 col-md-9 pull-right-hard" cg-busy="dashboardDataTracker">
    <div class="alert-wrapper">
      <div class="alert alert-warning" role="alert" ng-show="!globalProfileId.length"><span translate>Please create a</span> <a href="#/profile" translate>Global Profile</a> <span translate>before checking-in to a country/emergency.</span></div>
      <browser-alert></browser-alert>
    </div>
    <div class="active-profiles-wrapper" ng-show="userData.contacts.length">
      <h3><span translate>General List</span> :</h3>
      <ul class="active-profiles-container list-group">
        <li class="profile-item list-group-item" ng-repeat="profile in userData.contacts" ng-if="profile.type == 'global'">
          <h4>
            <a href="#/list/global">
              <span class="profile-item-name" translate>Global Contact List</span>
            </a>
          </h4>
          <div class="btn-group">
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" href="#/profile/{{profile._id}}" title="{{'Edit my global profile' | translate}}"><i class="fa fa-pencil"></i></a>
          </div>
          <div class="quick-link">
          <div class="uib-dropdown" ng-class="{'ql-open': qlOpen === 0}" uib-dropdown dropdown-append-to-body>
            <button class="uib-dropdown-toggle" ng-click="qlOpen = 0;" type="button" uib-dropdown-toggle ui-btn-checkbox><span class="quick-link-dots"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li class="dropdown-header">Sharing</li>
              <li ng-class="{'disabled' : isOffline()}" >
                <a role="menuitem" tabindex="-1" ng-class="{'disabled' : isOffline()}" ng-click="share('Humanitarian ID','linkedin')" title="Share my profile on Linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
              </li>
              <li ng-class="{'disabled' : isOffline()}" >
                <a role="menuitem" tabindex="-1" ng-class="{'disabled' : isOffline()}" ng-click="share('Humanitarian ID','facebook')" title="Share 
                my profile on Facebook"><i class="fa fa-facebook"></i> Facebook</a>
              </li>
            </ul>
          </div>
          </div>
        </li>
      </ul>

      <h3><span translate>My checked-in lists</span> :</h3>
      <ul class="active-profiles-container list-group">
        <li class="profile-item list-group-item" ng-repeat="profile in userData.contacts | orderBy: 'location'" ng-if="profile.type == 'local'">

          <button ng-show="profile.confirmDelete" class="slide btn btn-warning" href ng-click="checkout(profile._id)" ng-if="profile.type == 'local'" translate>Checkout</button>

          <h4>
              <span class="profile-item-name">
                <a href="#/list/{{profile.locationId}}"><i class="fa fa-lock" ng-if="operations[profile.locationId].hid_access == 'closed'" data-toggle="tooltip" data-placement="top" title="This list is only accessible to verified Humanitarian ID users."></i>  {{profile.location}}</a>
                <span class="profile-item-disasters" ng-show="profile.disasters.length" ng-if="0">
                  <span class="profile-item-disaster-spacer">/</span>
                  <span class="profile-item-disaster" ng-repeat="disaster in profile.disasters | orderBy: 'name'">
                    <a href="#/list/{{profile.locationId}}?disasters.remote_id={{disaster.remote_id}}">{{disaster.name}}</a>
                  </span>
                </span>
              </span>
          </h4>
          <div class="btn-group">
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" href="#/profile/{{profile._id}}" title="{{'Edit my' | translate}} {{profile.location}} {{'profile' | translate}}"><i class="fa fa-pencil"></i></a>
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-checkout btn-sm" ng-click="profile.confirmDelete = !profile.confirmDelete" ng-if="profile.type == 'local'" title="{{'Check-out from' | translate}} {{profile.location}}"><i class="fa fa-plane"></i></a>
          </div>
          <div class="quick-link">
          <div class="uib-dropdown" ng-class="{'ql-open': qlOpen === $index}" uib-dropdown dropdown-append-to-body>
            <button class="uib-dropdown-toggle" ng-click="qlOpen = $index;" type="button" uib-dropdown-toggle ui-btn-checkbox><span class="quick-link-dots"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li class="dropdown-header">Sharing</li>
              <li ng-class="{'disabled' : isOffline()}" >
                <a role="menuitem" tabindex="-1" ng-class="{'disabled' : isOffline()}" ng-click="share('Humanitarian ID','linkedin')" title="Share my check-in on Linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
              </li>
              <li ng-class="{'disabled' : isOffline()}" >
                <a role="menuitem" tabindex="-1" ng-class="{'disabled' : isOffline()}" ng-click="share('Humanitarian ID','facebook')" title="Share my check-in on Facebook"><i class="fa fa-facebook"></i> Facebook</a>
              </li>
            </ul>
          </div>
          </div>
        </li>
        <li class="disaster-item" ng-if="profilesActive.length == 0">
          <em translate>No profiles found.</em>
        </li>
      </ul>

      <div class="alert alert-info" role="alert" ng-show="!localContacts.length && globalProfileId.length"><strong translate>Are you responding to a humanitarian situation?</strong> <a href="#/checkin" translate>Check into</a> <span translate>the relevant country to add your skills and contact details added to the appropriate contact list(s).</span></div>
      <div class="alert alert-info" role="alert" ng-show="localContacts.length"><strong translate>Are you still responding to the humanitarian situation(s) above?</strong> <span translate>Click the airplane icon next to any of the contact lists you are no longer responding to.</span></div>

      <h3><span translate>Custom Contacts lists</span> : <i ng-if="isCaching()" class="fa fa-refresh data-sync data-sync-animate" data-toggle="tooltip" data-placement="top" title="We are busy synchronizing your custom contact lists for offline access."></i>
      </h3>

      <ul class="custom-contacts-container list-group">
        <li class="profile-item list-group-item" ng-repeat="(index, list) in customContacts">
        <button ng-show="list.confirmUnfollow" class="slide btn btn-warning" href ng-click="unfollowContactList(list, index)" ng-if="userData.profile.userid != list.userid && list.isFollower" translate>Unfollow</button>
          <h4>
            <a href="#/list/contacts?id={{list._id}}">
              <span class="profile-item-name" translate>{{list.name}}</span>
            </a>
          </h4>
          <div class="btn-group">
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="userData.profile.userid != list.userid && list.isFollower" ng-click="list.confirmUnfollow = !list.confirmUnfollow" title="{{'Unfollow list' | translate}}"><i class="fa fa-times"></i></a>
            <a ng-class="{'disabled' : isOffline()}" href="#/settings/list/{{list._id}}" class="btn btn-sm" role="button" ng-if="userData.profile.userid == list.userid || list.isEditor" title="{{'List Settings' | translate}}"><i class="fa fa-cog"></i></a>
          </div>
        </li>
        <li class="profile-item list-group-item clearfix">
          <form name="contactInline" class="form-inline">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <p class="form-control-static"><strong>Make new list</strong></p>
              </div>
            </div>
            <div class="col-md-9 contact-inline-form">
              <div class="form-group">
                <label for="listName">List Name: </label>
                <input type="text" class="form-control" id="listName" ng-model="list.name" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="contactInline.$invalid" ng-click="addCustomContactList(list)">Create List</button>
              </div>
            </div>
          </div>
          </form>
        </li>
      </ul>

      <h3><span translate>Subscription Services</span> : <a href="#/services/add" class="btn btn-dashboard pull-right" title="Create New Service" ng-if="isAdmin || isManager"><i class="fa fa-plus-square"></i></a></h3>

      <form class="search-form">
        <div class="form-group">
          <label class="control-label element-invisible" for="text" translate>Search</label>
          <div class="input-groupx">
            <input class="form-control contact-search" type="search" name="servicesText"
                 placeholder="{{'Search services'|translate}}" ng-model="servicesText" ng-disabled="isOffline()"/>
            <input class="btn btn-lg contact-search-submit" type="submit" ng-click="servicesSearch()" ng-disabled="isOffline()" value="{{'Search'|translate}}"/>
          </div>
        </div>
      </form>

      <ul class="subscriptions-container list-group">
        <li class="profile-item list-group-item" ng-repeat="subscription in subscriptions" ng-if="subscription.service.status">
          <div class="row">
            <div class="contact-item contact-item--name col-xs-12 col-md-6" >
              {{subscription.service.name}} <span class="label label-primary" translate>Subscribed</span>
            </div>
            <div class="btn-group">
              <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-click="unsubscribeDialog(subscription.service)" title="{{'Unsubscribe' | translate}}"><i class="fa fa-times"></i></a>
              <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="subscription.service.editAllowed" href="#/services/{{subscription.service._id}}/edit" title="{{'Edit' | translate}}"><i class="fa fa-cog"></i></a>
            </div>
          </div>
        </li>
        <li class="profile-item list-group-item clearfix">
          <div class="row">
            <div class="col-md-12 contact-inline-form">
              <a href="#/services" class="pull-right btn btn-default" translate>View all services</a>
            </div>
          </div>
          </form>
        </li>
      </ul>


      <div class="mobile-checkin visible-xs">
        <a class="btn btn-primary btn-lg btn-block" href="#/checkin">
          <span class="fa fa-angle-right"></span> <span translate>Check-in</span>
        </a>
      </div>
    </div>
    <div class="empty-profiles" ng-hide="userData.contacts.length">
      <p translate>Thank you for registering on Humanitarian ID. With your help, we will ensure that humanitarian contact lists are always up-to-date. As you will notice, you do not have access to any lists just yet.</p>
      <p translate>First, you will need to <em>create your Global profile</em>. In this profile, you will provide your usual details or information of where you are usually located.  After you have completed this step, you will see and have access to the Global contact list.</p>
      <p translate>Second, if you are in a country/emergency, you should <em>"Check-in" for that country/emergency</em>.  When you perform the check-in, you will see a copy of your profile that you can edit for that country/emergency.  Once checked-in, you will then have access to the contact list specific to the country/emergency.  And, other responders will be able to easily find you.</p>
      <p translate>When you leave a country/emergency, remember that <em>you need to check-out</em>. By doing so, you will remove your details from the contact list.</p>
      <p translate>Again, thanks for helping to make humanitarian contact lists accurate.</p>
      <p><em translate>The Humanitarian ID team</em></p>
    </div>
  </div>

  <div class="sidebar-left">
    <div ng-show="!isRouteLoading">
      <div class="visible-xs">
        <div class="bottom-fixed-btn" role="presentation">
          <a href ng-click="sidebarOptions = !sidebarOptions"><div class="bottom-fixed-btn__arrow"></div><span translate>Options</span></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 actions-wrapper">
      <div class="actions">
        <span ng-repeat="profile in userData.contacts" ng-if="profile.type == 'global'">
          <a ng-class="{'disabled' : isOffline()}" class="btn btn-default btn-lg btn-block" href="#/profile/{{profile._id}}">
            <span class="fa fa-angle-right"></span> <span translate>Edit Global Profile</span>
          </a>
        </span>
        <a ng-class="{'disabled' : isOffline()}" class="btn btn-primary btn-lg btn-block" href="#/checkin" ng-show="globalProfileId.length">
          <span class="fa fa-angle-right"></span> <span translate>Check-in</span>
        </a>
        <a ng-class="{'disabled' : isOffline()}" class="btn btn-primary btn-lg btn-block" href="#/createaccount" ng-show="userCanCreateAccount">
          <span class="fa fa-angle-right"></span> <span translate>Create a Responder</span>
        </a>
        <a class="btn btn-primary btn-lg btn-block" ng-show="!globalProfileId.length" href="#/profile/{{globalProfileId}}">
          <i class="entypo user"></i> <span translate>Global Profile</span>
        </a>
        <h3><span translate>View a Country</span> :</h3>
        <ui-select
            ng-model="country"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="operations"
            reset-search-input="true"
            on-select="toOperation($item, $model)">
              <ui-select-match allow-clear placeholder="{{'Country' | translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices ng-class="{'not-empty': availOperations.length}" repeat="operation.name as operation in availOperations | orderBy:'name' | filter: $select.search">
                <div ng-bind-html="operation.name  | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        <h3><span translate>View a Disaster</span> :</h3>
        <ui-select
            ng-model="disaster"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="operations"
            reset-search-input="true"
            on-select="toDisaster($item, $model)">
              <ui-select-match allow-clear placeholder="{{'Disaster' | translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices ng-class="{'not-empty': disasterOptions.length}" repeat="disaster.name as disaster in disasterOptions | orderBy:'name' | filter: $select.search">
                <div ng-bind-html="disaster.name  | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
      </div>
    </div>
  </div>

</div>
