<div class="panel panel-primary">
  <div class="panel-heading">Delete {{list.name}}:</div>
  <div class="panel-body">
    <p>Are you sure? This list will be deleted forever, and all followers will lose access to this list.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 divider"><button class="btn btn-primary btn-lg btn-block" ng-click="delete()" type="button">Delete</button></div>
  <div class="col-sm-6 divider"><button class="btn btn-primary btn-lg btn-block" ng-click="closeThisDialog()" type="button">Close</button></div>
</div>
