<div class="header" ng-controller="HeaderCtrl">
  <div class="utility navbar hidden-xs" ng-show="!kioskMode">
    <div class="affiliate-logos pull-left-hard">
      <div class="affiliate-logo-wrapper"><a href="http://www.humanitarianresponse.info" target="_blank"><div class="affiliate-logo humanitarian-response"></div></a></div>
      <div class="affiliate-logo-wrapper"><a href="http://reliefweb.int/" target="_blank"><div class="affiliate-logo relief-web"></div></a></div>
      <div class="affiliate-logo-wrapper"><a href="https://data.humdata.org" target="_blank"><div class="affiliate-logo hdx"></div></a></div>
      <div class="affiliate-logo-wrapper"><a href="https://interagencystandingcommittee.org" target="_blank"><img src="/images/affiliate-iasc.png" alt="IASC logo" /></a></div>
      <div class="affiliate-logo-wrapper"><a href="http://www.acaps.org" target="_blank"><img src="/images/acaps.png" alt="ACAPS logo" /></a></div>	
    </div>

    <div class="navbar-form login-controls" ng-show="!kioskMode">
      <div class="form-group">
        <div class="login-controls-name hidden-xs" ng-if="isAuthenticated"><span translate>Welcome</span>, <span ng-bind="nameGiven"></span> <span ng-bind="nameFamily"></span></div>
        <a class="btn-login-controls btn hidden-xs" ng-if="!isAuthenticated" href="#/login"><span translate>Login</span></a>
        <a class="btn-login-controls btn hidden-xs" ng-if="isAuthenticated" href="#/logout"><span translate>Logout</span></a>
        <select name="language" ng-change="switchLanguage()" ng-model="language" ng-show="breakpoint.class !== 'smallscreen' || !isAuthenticated" class="form-control input-sm">
          <option value="ar">العربية</option>
          <option value="en">English</option>
          <option value="fr">Français</option>
          <option value="es">Español</option>
          <option value="ru">русский</option>
        </select>
      </div>
    </div>
  </div>

  <div class="logo-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="#/dashboard"><div class="logo"></div></a>
        </div>
        <div class="col-sm-12" ng-show="!kioskMode">
          <div class="primary-nav">
            <span ng-click="menuToggle()" class="touch-button"><i class="fa fa-bars"></i></span>
            <ul ng-show="(mainMenu && !externalLinks) || breakpoint.class !== 'smallscreen'">
              <li class="visible-xs">
                <div class="form-group">
                  <select name="language" ng-change="switchLanguage()" ng-model="language" class="form-control input-sm">
                    <option value="ar">العربية</option>
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                    <option value="es">Español</option>
                    <option value="ru">русский</option>
                  </select>
                </div>
              </li>
              <li ng-if="!isAuthenticated"><a active-link="active" href="#/"><span translate>Home</span></a></li>
              <li ng-if="isAuthenticated" ><a active-link="active" href="#/dashboard"><span translate>Dashboard</span></a></li>
              <li><a active-link="active" href="#/about"><span translate>About</a></li>
              <li class="hidden-xs"><a active-link="active" href="#/numbers"><span translate>Numbers</a></li>
              <li class="visible-xs"><a href="#/logout"><span translate>Logout</span></a></li>
              <li class="visible-xs"><a active-link="active" href ng-click="sendFeedbackEmail()"><span translate>Feedback</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="messages">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span ng-repeat="alert in flash.get()">
            <uib-alert ng-if="alert.close === true" type="{{alert.type}}" close="flash.close($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.msg}}</uib-alert>
            <uib-alert ng-if="alert.close === false" type="{{alert.type}}">{{alert.msg}}</uib-alert>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
