<div class="header">
  <div class="utility">
    <div class="affiliate-logos pull-left">
      <div class="affiliate-logo-wrapper"><div class="affiliate-logo humanitarian-response"></div></div>
      <div class="affiliate-logo-wrapper"><div class="affiliate-logo relief-web"></div></div>
      <div class="affiliate-logo-wrapper"><div class="affiliate-logo hdx"></div></div>
    </div>

    <div class="login-controls pull-right">
      <div class="login-controls-name">Dr. John Smith</div>
      <a class="btn-login-controls btn" href="#/logout">Logout <span class="text-highlight">H</span>ID</a>
    </div>
  </div>
  <div class="logo-bar">
    <div class="logo"></div>
    <div class="primary-nav">
      <ul>
        <li><a href="#/contactsId" class="active">Dashboard</a></li>
        <li><a href="#/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
