<div class="homepage">
  <div class="hoempage-wrapper">
    <div class="masthead">
      <h2>Humanitarian.ID: Responders</h2>
    </div>

    <div class="info">
      Manage your details on global and emergency-level humanitarian contact lists. Find and be found by other responders when needed. Check-in. Connect. Respond.
    </div>

    <div class="actions buttons">
      <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#login">Login<span class="fa fa-angle-right"></span></a>
      <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#register">Register<span class="fa fa-angle-right"></span></a>
      <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#about">About<span class="fa fa-angle-right"></span></a>
    </div>
  </div>
</div>
