<div class="homepage">
  <div class="homepage-wrapper">
    <div class="masthead">
      <h2 translate>Humanitarian.ID: Responders</h2>
    </div>

    <div class="info" translate>
      Manage your details on global and emergency-level humanitarian contact lists. Find and be found by other responders when needed. Check-in. Connect. Respond.
    </div>

    <div class="actions buttons">
      <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#login"><span translate>Login</span><span class="fa fa-angle-right"></span></a>
      <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#register"><span translate>Register</span><span class="fa fa-angle-right"></span></a>
      <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#about"><span translate>About</span><span class="fa fa-angle-right"></span></a>
    </div>
  </div>
</div>
