<div class="container">
  <div class="homepage row">
      <div class="homepage-wrapper col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="masthead">
          <h2 translate>Humanitarian ID: Responders</h2>
        </div>
        <div class="alert-wrapper">
          <browser-alert></browser-alert>
        </div>
        <div class="row">
          <div class="info col-xs-12 col-sm-6 hidden-xs" translate>
            Manage your details on global and emergency-level humanitarian contact lists. Find and be found by other responders when needed. Check-in. Connect. Respond.
          </div>

          <div class="actions buttons col-xs-12 col-sm-6">
            <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#login"><span class="fa fa-angle-right"></span><span translate>Login</span></a>
            <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#register"><span class="fa fa-angle-right"></span><span translate>Register</span></a>
            <a class="btn btn-lg btn-primary btn-arrow btn-block" href="/#about"><span class="fa fa-angle-right"></span><span translate>About</span></a>
          </div>
        </div>
      </div>
  </div>
</div>
