<div class="masthead">
  <h2 class="heading-contact-list">{{location}} Contact List</h2>

  <div ng-show="!isRouteLoading">
    <!--
    <div class="back-link"><a class="btn btn-warning btn-sm" href="#/contactsId"><i class="fa fa-arrow-circle-left"></i>
      Back</a></div>-->

    <div class="" ng-show="breakpoint.class === 'smallscreen' ">

      <div class="bottom-fixed-btn" ng-show="mode === 'list'" role="presentation" ng-class="{active : mode !== 'list'}">
        <a href ng-click="mode = 'search'"><div class="bottom-fixed-btn__arrow"></div>Contact List Filters</a>
      </div>

      <div class="bottom-fixed-btn" ng-show="mode !== 'list'" role="presentation" ng-class="{active : mode === 'list'}">
        <a href ng-click="showList()"><div class="bottom-fixed-btn__arrow"></div>Contact List</a>
      </div>

    </div>
  </div>
</div>

<div class="container main bottom-controls">
  <div class="list-content sidebar-left col-xs-12 col-sm-3" ng-show="!isRouteLoading">
    <div class="search" ng-show="mode !== 'list' || breakpoint.class !== 'smallscreen' ">
      <form class="filter-form">

        <div class="form-group">
          <label class="control-label element-invisible" for="bundle">Bundle</label>
          <select class="form-control" name="bundle" ng-model="query.bundle"
                  ng-options="bundleName for (bundleId, bundleName) in bundles">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="verified"><i class="fa fa-check-circle"></i> Verified User</label>
          <input type="checkbox" name="verified" ng-model="query.verified" />
        </div>

        <div class="form-group" ng-if="query.locationId">
          <label class="control-label" for="keyContact"><span class="contact-item__key-contact key-contact-filter-use">*</span> Key Contact</label>
          <input type="checkbox" name="keyContact" ng-model="query.keyContact" />
        </div>

        <div class="form-group">
          <input class="btn btn-primary btn-md" type="submit" ng-click="submitSearch()" value="Search"/>
          <input class="btn btn-warning btn-md" type="button" ng-click="resetSearch()" value="Reset Filters"/>
        </div>
      </form>
    </div>
  </div>

  <div class="active-contacts col-xs-12 col-sm-9" ng-show="mode === 'list' || breakpoint.class !== 'smallscreen' " cg-busy="contactsPromise">
    <form class="search-form">
      <div class="form-group">
        <label class="control-label element-invisible" for="text">Search</label>
        <input class="form-control contact-search" type="search" name="text"
               placeholder="Search by name, title, or organization" ng-model="query.text"/>
      </div>

      <div class="form-group">
        <input class="btn btn-primary btn-md element-invisible" ng-click="submitSearch()" type="submit"
               value="Search"/>
      </div>
    </form>

    <ul class="list-group">
      <li class="profile-item list-group-item" ng-repeat="contact in contacts">
        <div class="contact-item contact-item--name">
          <a href="#/contactsId/contact/{{contact._id}}">{{contact.nameGiven}} {{contact.nameFamily}}</a>
          <div class="contact-item__markers">
            <span class="contact-item__key-contact" ng-if="contact.keyContact">*</span>
            <span class="contact-item__verified" ng-if="contact._profile.verified"><i class="fa fa-check-circle"></i></span>
          </div>

        </div>
        <div class="contact-item contact-item--jobtitle">{{contact.jobtitle}}</div>
        <div class="contact-item contact-item--organization">{{contact.organization[0].name}}</div>
        <div class="contact-item contact-item--bundle">{{contact.bundle.join(', ')}}</div>
      </li>
    </ul>

    <div class="panel panel-danger" ng-if="contacts.length == 0">
      <div class="panel-heading"><em>No contacts found</em></div>
    </div>
  </div>
</div>
