<div class="back-btn back-btn-head back-btn-head-mob btn">
    <a ng-click="goBack(true)"><i class="fa fa-chevron-left"></i><span></span></a>
</div>
<div class="masthead row" ng-show='!isRouteLoading'>
  <div class="col-md-1 back-btn back-btn-float btn">
    <a ng-click="goBack(true)"><i class="fa fa-chevron-left"></i><span></span></a>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-2 pull-right-hard">
    <h2 class="heading-contact-list">
      <i class="fa fa-lock" ng-if="hid_access == 'closed'" data-toggle="tooltip" data-placement="top" title="This list is only accessible to verified Humanitarian ID users."></i> {{locationText()}} <small>(<span translate>Contacts</span> {{queryCount}})</small>
      <a href="#/settings/list/{{list._id}}" class="btn btn-primary pull-right-hard" ng-disabled="isOffline()" ng-if="locationId !== 'global' && (userData.profile.userid == list.userid || isEditor) && list._id" role="button">List Settings</a>
      <button ng-click="toggleFollow()" class="btn btn-primary pull-right-hard" ng-if="locationId !== 'global' && userData.profile.userid != list.userid && list._id" >{{toggleFollowButton}}</button>
      <span class="pull-right-hard" uib-tooltip="Click to copy URL of this list"><button class="btn btn-primary pull-right-hard" type="button" ng-if="locationId !== 'global'" uib-tooltip="Copied !" tooltip-trigger="none" tooltip-is-open="urlCopied == true" ngclipboard ngclipboard-success="onCopySuccess(e);" data-clipboard-text="{{listUrl}}"><i class="fa fa-clipboard"></i></button></span>
    </h2>
  </div>
</div>

<div class="main row page-list" ng-show='!isRouteLoading' ng-class="{'show-options': sidebarOptions}">
  <div class="active-contacts col-xs-12 col-sm-8 col-md-9 pull-right-hard">
    <browser-alert></browser-alert>

    <form class="search-form">
      <div class="form-group">
        <label class="control-label element-invisible" for="text" translate>Search</label>
        <div class="input-groupx">
          <input class="form-control contact-search" type="search" name="text"
                 placeholder="{{'Search by name, title, or organization'|translate}}" ng-model="query.text" ng-disabled="isOffline()"/>
          <input class="btn btn-lg contact-search-submit" type="submit" ng-click="submitSearch()" ng-disabled="isOffline()" value="{{'Search'|translate}}"/>
        </div>
      </div>
    </form>

    <div class="text-right">
      <select class="form-control form-elements-sort" name="sort" ng-model="query.sort" ng-change="submitSort()" ng-disabled="isOffline()">
        <option value="" selected disabled translate>Sort by</option>
        <option value="name" translate>Name</option>
        <option value="jobtitle" translate>Job Title</option>
        <option value="organization" translate>Organization</option>
        <option value="verified" translate>Verification</option>
      </select>
    </div>

    <ul class="list-group" cg-busy="contactsPromise">
      <li class="profile-item list-group-item" ng-repeat="contact in contacts" ng-init="contactInit()" ng-class="{'has-quick-link': contact.ql.userCanEditProfile}">
        <div class="row">
          <div class="contact-item contact-item--name col-xs-12 col-md-3" >
            <a href="#/contact/{{contact._id}}" title="{{contact.nameGiven}} {{contact.nameFamily}}"><span ng-if="contact.type == 'local'"><i class="fa fa-map-marker"></i></span><span ng-if="contact.type == 'global'"><i class="fa fa-globe"></i></span> {{contact.nameGiven}} {{contact.nameFamily}}</a>
            <div class="contact-item__markers" ng-if="contact._profile.verified">
              <span class="contact-item__verified" title="Verified" ng-if="contact._profile.verified"><i class="fa fa-check-circle"></i></span>
            </div>
          </div>
          <div class="contact-item contact-item--jobtitle col-xs-7" ng-class="(contact.bundle.length) ? 'col-md-3' : 'col-md-7'"><span title="{{contact.jobtitle}}">{{contact.jobtitle}}</span></div>
          <div class="contact-item contact-item--bundle col-md-4" ng-hide="!contact.bundle.length"><span title="{{contact.bundle.join(', ')}}">{{contact.bundle.join(', ')}}</span></div>
          <div class="contact-item contact-item--organization col-xs-5 col-md-2"><span title="{{parseAcronym(contact.organization[0].name)}}">{{parseAcronym(contact.organization[0].name)}}</span></div>
        </div>
        <div class="quick-link" ng-if="!isOffline()">
          <div class="dropdown" ng-class="{'ql-open': qlOpen === $index}">
            <button class="dropdown-toggle" data-toggle="dropdown" type="button" ng-click="qlClick()"><span class="quick-link-dots"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li ng-if="locationId !== 'global' && (userData.profile.userid == list.userid || isEditor) && list._id">
                <a role="menuitem" tabindex="-1" ng-click="removeContact(contact)" ng-if="(userData.profile.userid == list.userid || isEditor) && list._id" translate>Remove from list</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="quick-link" ng-if="!isOffline()">
          <div class="dropdown" ng-class="{'ql-open': qlOpen === $index}">
            <button class="dropdown-toggle" data-toggle="dropdown" type="button" ng-click="qlClick()" ><span class="quick-link-dots"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li ng-if="contact.ql.userCanEditProfile">
                <a role="menuitem" tabindex="-1" href="#/profile/{{contact._id}}" translate>Edit</a>
              </li>
              <li ng-if="contact.ql.userCanEditProfile">
                <a role="menuitem" tabindex="-1" ng-click="editSubscriptionsModal(contact._profile)" translate>Edit Subscriptions</a>
              </li>
              <li ng-if="locationId !== 'global' && (userData.profile.userid == list.userid || isEditor) && list._id">
                <a role="menuitem" tabindex="-1" ng-click="removeContact(contact)" ng-if="(userData.profile.userid == list.userid || isEditor) && list._id" translate>Remove from list</a>
              </li>
              <li ng-class="{'disabled':contact.ql.contactListState === 'inProgress'}">
                <a role="menuitem" tabindex="-1" ng-click="addContact(contact)" translate>Add to list</a>
              </li>
              <li ng-if = "userCanEditProtectedRoles">
                <a role="menuitem" tabindex="-1" ng-click="showRoles(contact)" translate>Edit Roles </a>
              </li>
              <li ng-if = "userCanEditProtectedBundle">
                <a role="menuitem" tabindex="-1" ng-click="showGroups(contact)" translate>Edit Groups</a>
              </li>
              <li ng-if="contact.ql.userCanCheckIn">
                <a role="menuitem" tabindex="-1" href="#/checkin{{contact.ql.isOwn ? '' : '/' + contact._profile._id}}" translate>Check-in</a>
              </li>
              <li ng-if="contact.ql.userCanCheckOut" ng-class="{'disabled':contact.ql.checkOutState === 'inProgress'}">
                <button role="menuitem" tabindex="-1" class="btn btn-link" ng-class="{'btn-warning': contact.ql.checkOutState === 'confirm'}" ng-click="checkOut(contact)" ng-bind="checkOutText(contact)"></button>
              </li>
              <li ng-if="contact.ql.userCanSendClaimEmail" ng-class="{'disabled':contact.ql.orphanState === 'complete' || contact.ql.orphanState === 'inProgress'}">
                <button role="menuitem" tabindex="-1" class="btn btn-link" ng-class="{'btn-warning': contact.ql.orphanState === 'confirm'}" ng-click="sendClaimEmail(contact)" ng-bind="orphanText(contact)"></button>
              </li>
              <li ng-if="contact.ql.userCanDeleteAccount" ng-class="{'disabled':contact.ql.deleteState === 'inProgress'}">
                <button role="menuitem" tabindex="-1" class="btn btn-link" ng-class="{'btn-warning': contact.ql.deleteState === 'confirm'}" ng-click="deleteAccount(contact)" ng-bind="deleteText(contact)"></button>
              </li>
              <li ng-if="contact.ql.userCanEditVerified" class="divider"></li>
              <li ng-if="contact.ql.userCanEditVerified" ng-class="{'disabled': contact.ql.verifiedState === 'inProgress'}">
                <button role="menuitem" tabindex="-1" class="btn btn-link" ng-class="{'btn-warning': contact.ql.verifiedState === 'confirm'}" ng-click="updateProfile(contact,'verified')" ng-bind="verifiedText(contact)"></button>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <div class="panel panel-danger" ng-if="contacts.length == 0 && contactsCreated && (hid_access != 'closed' || hid_access == 'closed' && userData.profile.verified)">
      <div class="panel-heading"><em translate>No contacts found</em></div>
    </div>

    <div class="panel panel-danger" ng-if="hid_access == 'closed' && !userData.profile.verified">
      <div class="panel-heading"><em translate>{{locationText()}} has been set as a private contact list by our field-level administrators. Only "verified" Humanitarian ID users can access the contact list. For information about "verified" users, please see our <a href="http://humanitarian.id/faqs" target="_blank">FAQs</a>.</em></div>
    </div>

    <div class="contact-loader" ng-class="{'list-complete': listComplete || !contacts.length}" in-view="loadMoreContacts($inview, $inviewpart)" in-view-options="{debounce: 1000}" cg-busy="{promise:contactsPromise, message:'', backdrop:false, templateUrl:spinTpl, minDuration:1400, wrapperClass:'list-spinner'}"></div>

    <div class="contact-count" ng-show="contactsCount">{{contactsCount}} / {{queryCount}}</div>
  </div>

  <div class="sidebar-left">
    <div ng-show="!isRouteLoading">
      <div class="visible-xs">
        <div class="bottom-fixed-btn" role="presentation">
          <a href ng-click="sidebarOptions = !sidebarOptions"><div class="bottom-fixed-btn__arrow"></div><span translate>Contact List Filters</span></a>
        </div>
      </div>
    </div>

    <div class="actions-wrapper col-xs-12 col-sm-4 col-md-3">
      <form class="filter-form actions">
        <div class="form-group" ng-show="locationId === 'global'">
          <label class="control-label element-invisible" for="shortcuts" translate>Frequent Searches</label>
          <ui-select
            ng-model="shortcut"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="shortcuts"
            search-enabled="false"
            on-select="selectShortcut()">
              <ui-select-match allow-clear placeholder="{{'Frequent Searches'|translate}}">{{$select.selected.title}}</ui-select-match>
              <ui-select-choices repeat="shortcut in shortcuts">
                <div ng-bind-html="shortcut.title"></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group form-group-reset clearfix">
          <h2>
            <small class="control-label"><span class='title' translate>Filter Results</span> <input class="btn btn-warning btn-lg btn-reset" type="button" ng-if="showResetBtn" ng-click="resetSearch()" value="{{'Clear All'|translate}}"/></small>
          </h2>
        </div>

        <div class="form-group" ng-show="bundles.length">
          <label class="control-label element-invisible" for="bundle" translate>Group</label>
          <ui-select
            ng-model="displayBundle"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="bundle"
            reset-search-input="true"
            on-select="submitBundle()">
              <ui-select-match allow-clear placeholder="{{'Group'|translate}}">{{$select.selected.value.name}}</ui-select-match>
              <ui-select-choices repeat="bundle.value.name as bundle in bundles | orderBy:'value.name' | filter: $select.search">
                <div ng-bind-html="bundle.value.name | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group">
          <label class="control-label element-invisible" for="organization" translate>Organization</label>
          <ui-select
            class="form-control {{$select.searching ? 'searching' : ''}}"
            ng-disabled="isOffline()"
            name="organization"
            ng-model="query['organization.name']"
            theme="bootstrap"
            reset-search-input="true"
            on-select="submitSearch()">
              <ui-select-match allow-clear placeholder="{{'Organization'|translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="org.name as org in organizations | orderBy:'name'" refresh="refreshOrganization($select, 2)" ui-disable-choice="org.disable">
                <div ng-bind-html="org.alt || (org.name | highlight: $select.search) "></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group">
          <label class="control-label element-invisible" for="orgType" translate>Organization Type</label>
          <ui-select
            ng-model="query['organization.org_type_remote_id']"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="bootstrap"
            search-enabled="false"
            on-select="submitSearch()">
              <ui-select-match allow-clear placeholder="{{'Organization Type'|translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="orgType.id as orgType in orgTypes | orderBy:'name'">
                <div ng-bind-html="orgType.name"></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group">
          <label class="control-label element-invisible" for="protectedRole" translate>Role</label>
          <ui-select
            ng-model="query.protectedRoles"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="bootstrap"
            search-enabled="false"
            on-select="submitSearch()">
              <ui-select-match allow-clear placeholder="{{'Role'|translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="protectedRole.id as protectedRole in protectedRoles | orderBy:'name'">
                <div ng-bind-html="protectedRole.name"></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="location-filters">
          <div class="form-group">
            <label class="control-label element-invisible" for="country" translate>Country</label>
            <ui-select
              ng-model="query['address.country']"
              ng-disabled="isOffline()"
              theme="bootstrap"
              class="form-control"
              name="country"
              reset-search-input="true"
              on-select="submitSearch()"
              autocomplete="off">
                <ui-select-match allow-clear placeholder="{{'Country'|translate}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices ng-class="{'not-empty': countries.length}" repeat="country.name as country in countries | orderBy:'name' | filter: $select.search">
                  <div ng-bind-html="country.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
          </div>

          <div class="form-group" ng-show="locationId !== 'global' && regions.length">
            <label class="control-label element-invisible" for="region" translate>Region</label>
            <ui-select
              ng-model="query['address.administrative_area']"
              ng-disabled="isOffline()"
              theme="bootstrap"
              class="form-control"
              name="region"
              search-enabled="false"
              on-select="submitSearch()">
                <ui-select-match allow-clear placeholder="{{'Region'|translate}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="region.name as region in regions | orderBy:'name'">
                  <div ng-bind-html="region.name"></div>
                </ui-select-choices>
            </ui-select>
          </div>

        </div>

        <div class="form-group" ng-show="offices.length">
          <label class="control-label element-invisible" for="office" translate>Coordination Office</label>
          <ui-select
            name="office"
            class="form-control"
            ng-model="query['office.name']"
            ng-disabled="isOffline()"
            theme="bootstrap"
            search-enabled="false"
            on-select="submitSearch()">
              <ui-select-match allow-clear placeholder="{{'Office'|translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="office.name as office in offices | orderBy:'name'">
                <div ng-bind-html="office.name"></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group" ng-show="disasterOptions.length">
          <label class="control-label element-invisible" for="disaster" translate>Disasters</label>
          <ui-select
            ng-model="query['disasters.remote_id']"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="disaster"
            reset-search-input="true"
            on-select="submitSearch()">
              <ui-select-match allow-clear placeholder="{{'Disaster'|translate}}">{{$select.selected.value.name}}</ui-select-match>
              <ui-select-choices repeat="disaster.value.remote_id as disaster in disasterOptions | orderBy:'value.name' | filter: $select.search">
                <div ng-bind-html="disaster.value.name  | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="divider"></div>

        <div class="form-group">
          <label class="control-label" for="verified"><i class="fa fa-check-circle"></i> <span translate>Verified User</span> <input type="checkbox" name="verified" ng-model="query.verified" /></label>
        </div>

        <div class="form-group" ng-if="userCanUseAdminFilters">
          <div class="divider"></div>

          <label class="control-label" for="orphan"><span translate>Orphan User</span> <input type="checkbox" name="orphan" ng-model="query.orphan" /></label>
        </div>

        <div class="form-group" ng-if="userCanUseAdminFilters">
          <label class="control-label" for="ghost"><span translate>Ghost User</span> <input type="checkbox" name="ghost" ng-model="query.ghost" /></label>
        </div>

        <div class="form-group" ng-if="userCanUseAdminFilters">
          <label class="control-label element-invisible" for="role" translate>Admin Role</label>
          <ui-select
            ng-model="query.role"
            ng-disabled="isOffline()"
            theme="bootstrap"
            class="form-control"
            name="bootstrap"
            search-enabled="false"
            on-select="submitSearch()">
              <ui-select-match allow-clear placeholder="{{'Admin Role'|translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="role.id as role in adminRoleOptions | orderBy:'name' | filter: $select.search">
                <div ng-bind-html="role.name | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div ng-if="!query.locationId">

          <div class="divider"></div>

          <div class="form-group">
            <label class="control-label" for="globalContacts"><span translate>Global Profiles</span> <input type="checkbox" name="globalContacts" ng-model="query.globalContacts" ng-true-value="'true'" /></label>
          </div>

          <div class="form-group">
            <label class="control-label" for="localContacts"><span translate>Local Profiles</span> <input type="checkbox" name="localContacts" ng-model="query.localContacts" ng-true-value="'true'" /></label>
          </div>

        </div>

        <div class="divider"></div>

        <div class="form-group">
          <input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="submitSearch()" value="{{'Search'|translate}}" ng-disabled="isOffline()"/>
        </div>
        <div class="divider"></div>
        <div class="form-group">
          <input class="btn btn-warning btn-lg btn-block" type="button" ng-click="exportEmail()" ng-if="isVerified" value="{{'Copy Email Addresses'|translate}}" ng-disabled="isOffline()"/>

          <input class="btn btn-warning btn-lg btn-block" type="button" ng-click="openPDF()" value="{{'View PDF'|translate}}" ng-disabled="isOffline()" ng-show="isVerified"/>

          <input class="btn btn-warning btn-lg btn-block" type="button" ng-click="exportSearch()" ng-if="isVerified" value="{{'Export Results'|translate}}" ng-disabled="isOffline()"/>

        </div>
      </form>
    </div>
  </div>
</div>
