<div class="back-btn btn">
  <a ng-click="goBack()"><i class="fa fa-chevron-left"></i><span>&nbsp;Back</span></a>
</div>
<div class="container">
<div class="row">
<div class="col-md-6">
	<p class="coun"></p>
	<select  id="mySelect" ng-model="selCountry" class="form-control form-control-light">
		<option value="World Numbers">World Numbers</option>
	</select>

	<a class="results4">NUMBER OF CHECKINS</a>
	<a class="result4"></a>
	<canvas  height="400" width="550" id="clients"></canvas>
	<br>
 	<br>
 	<br>
</div>	
<div class="col-md-6">
 <div class="row" style="margin-left:10px; margin-right:0px !important">
	<span ng-if="selCountry == 'World Numbers'">
		<h class="header4">Countries with most check-ins</h>
	</span>
        <span ng-if="selCountry != 'World Numbers'">
		<h class="header4">Most check-ins coming from</h>
	</span>
	<p class="results1"></p>
	<p class="results2"></p>
	<p class="results3"></p>
 </div>
 <br>
 <br>
 <br>
<div class="row" style="margin-left:20px">
	<div style="float:left">
		<img src="/images/check.png"><img>
		<div width="220px" height="67px">
			<h class="header6">CHECK-INS</h>
			<br>
			<h class="header5">within past 7 days</h>
		</div>
	</div>
	<div class="bubble">
		<p class="huge" style="position:absolute"></p>	
		<p id="burst-12"></p>
	</div>
</div>
</div>
</div>
<div class="row">
<br>
<br>
<p class="updateTime"></p>
</div>
</div>



