<div class="masthead" ng-show="!isRouteLoading">
  <h2 translate>Humanitarian ID</h2>
</div>

<div class="main" ng-show="!isRouteLoading">
  <div class="row">
    <div class="active-countries col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-hide="selectedPlace.length">
      <div class="back-link"><button type="button" class="btn btn-warning btn-sm" ng-click="back()"><i class="fa fa-arrow-circle-left"></i> <span translate>Back</span></button></div>
      <h3 translate>Select a country</h3>
      <ul class="active-countries-container list-group">
        <li class="country-item list-group-item" ng-repeat="(pKey, place) in availPlacesOperations | orderBy: 'place'">
          <a href="" ng-click="selectPlace()">{{place.place}}</a>
        </li>
        <li class="country-item" ng-if="availPlacesOperations.length == 0">
          <em translate>No active operations found.</em>
        </li>
      </ul>
    </div>

    <div class="active-operations col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-show="selectedPlace.length && !selectedOperation.length">
      <div class="back-link"><a class="btn btn-warning btn-sm" href="" ng-click="selectedPlace = ''"><i class="fa fa-arrow-circle-left"></i> <span translate>Back</span></a></div>
      <h3 translate>Select an operation</h3>
      <ul class="active-operations-container list-group" ng-repeat="(pKey, place) in availPlacesOperations" ng-show="selectedPlace == place.place" data-place="{{place.place}}">
        <li class="operation-item list-group-item" ng-repeat="(opid, operation) in place.operations">
          <a href="" ng-click="selectOperation()">{{operation.name}}</a>
        </li>
      </ul>
    </div>
  </div>


  <form name="profileForm" class="update-profile profile-form row" ng-show="selectedPlace.length && selectedOperation.length" ng-class="{'show-options': profileOptions}" novalidate ng-submit="submitProfile()">
    <div class="form-content col-xs-12 col-sm-8 col-md-9 pull-right" >
      <h3>{{profileName()}} <span translate>Profile</span></h3>
      <div class="row alert-wrapper">
        <browser-alert></browser-alert>
        <div class="alert alert-danger col-xs-12" ng-show="profileForm.$submitted && profileForm.$invalid">
          <strong translate>Please update your {{profileName()}} profile.</strong><br>
          <ul ng-repeat="(type, errors) in profileForm.$error">
            <li ng-repeat="error in errors">{{alertField(error.$name)}}{{alertMsg(type)}}</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">

          <div class="section">
            <div class="form-group" ng-class="{'has-error': profileForm.$submitted && profileForm.nameGiven.$invalid}">
              <label class="control-label" for="nameGiven" translate>Given Name*</label>
              <input class="form-control" type="text" name="nameGiven" ng-model="profile.nameGiven" required/>
              <div class="help-block" ng-show="profileForm.$submitted && profileForm.nameGiven.$invalid">
                <span ng-repeat="(type, errors) in profileForm.nameGiven.$error">{{alertMsg(type)}}<br></span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': profileForm.$submitted && profileForm.nameFamily.$invalid}">
              <label class="control-label" for="nameFamily" translate>Family Name*</label>
              <input class="form-control" type="text" name="nameFamily" ng-model="profile.nameFamily" required/>
              <div class="help-block" ng-show="profileForm.$submitted && profileForm.nameFamily.$invalid">
                <span ng-repeat="(type, errors) in profileForm.nameFamily.$error">{{alertMsg(type)}}<br></span>
              </div>
            </div>
          </div>

          <div class="section">
              <h4 translate>Organizational Information</h4>
              <div class="form-group">
                <label class="control-label" for="organization" translate>Organization</label>

                <ui-select
                  name="organization"
                  class="form-control {{$select.searching ? 'searching' : ''}}"
                  ng-model="profile.organization[0]"
                  theme="selectize"
                  reset-search-input="true"
                  on-select="selectOrg($item)">
                    <ui-select-match placeholder="{{'Please select from the list'|translate}}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices
                      ng-class="{'not-empty': organizations.length}"
                      repeat="org.name as org in organizations | orderBy:'name'"
                      refresh="refreshOrganization($select, 2)"
                      refresh-delay="200"
                      ui-disable-choice="org.disable">
                      <div ng-class="{default: !organizations.name.length}" ng-bind-html="org.alt || (org.name | highlight: $select.search) "></div>
                    </ui-select-choices>
                </ui-select>

                <div class="help-block"><span translate>Request to</span> <a href="http://www.humanitarianresponse.info/help/webform/add-new-organization-form" target="_blank" translate>add a missing organization</a>.</div>
              </div>

              <div class="form-group">
                <label class="control-label" for="jobtitle" translate>Job Title</label>
                <input class="form-control" type="text" name="jobtitle" ng-model="profile.jobtitle" />
              </div>
              <div class="form-group" ng-show="bundles.length">
                <label class="control-label" for="bundle[{{profile.bundle.length - 1}}]" translate>Group</label>

                <div class="reveal btn-reveal" ng-repeat="bundle in profile.bundle track by $index" ng-if="profile.type === 'local'">
                  <select class="form-control" name="bundle[{{$index}}]" ng-model="profile.bundle[$index]" ng-options="bundle.value as bundle.value for bundle in bundles | orderBy:'value'" ng-blur="focus=0" focus-field="focus">
                      <option value=""></option>
                  </select>

                  <button type="button" ng-click="changeFieldEntries('bundle')" ng-class="{'add' : $last && checkForValidEntry('bundle', $index)}">
                    <i class="fa" ng-class="styleFieldEntries('bundle')"></i>
                  </button>
                </div>
              </div>
          </div>

          <div class="section">
            <h4 translate>Location</h4>
            <div class="form-group">
              <label class="control-label" for="address.country" translate>Country</label>
              <ui-select
                name="address.country"
                class="form-control"
                ng-model="profile.address[0].country"
                theme="selectize"
                reset-search-input="true"
                on-select="selectAddress($item, 'country')">
                  <ui-select-match placeholder="{{'Search for country'|translate}}">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices
                    ng-class="{'not-empty': addressList.countries.length}"
                    refresh="refreshAddress($select, 'countries')"
                    repeat="country.name as country in addressList.countries | orderBy:'name'">
                    <div ng-class="{default: !country.name.length}" ng-bind-html="country.alt || (country.name | highlight: $select.search)"></div>
                  </ui-select-choices>
              </ui-select>
            </div>

            <div cg-busy="regionsPromise">
              <div class="form-group reveal" ng-show="profile.address[0].country && regions.length">
                <label class="control-label" for="address.administrative_area" translate>State/Province/Region</label>
                <ui-select
                  name="address.administrative_area"
                  class="form-control"
                  ng-model="profile.address[0].administrative_area"
                  theme="selectize"
                  reset-search-input="true"
                  on-select="selectAddress($item, 'administrative_area')">
                    <ui-select-match placeholder="{{'Search for region'|translate}}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices
                      ng-class="{'not-empty': addressList.regions.length}"
                      refresh="refreshAddress($select, 'regions')"
                      repeat="region.name as region in addressList.regions | orderBy:'name'">
                      <div ng-class="{default: !region.name.length}" ng-bind-html="region.alt || (region.name | highlight: $select.search)"></div>
                    </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="form-group reveal" ng-show="profile.address[0].country && regions.length && profile.address[0].administrative_area">
              <label class="control-label" for="address[0][locality]" translate>City</label>
              <ui-select
                name="address.locality"
                class="form-control"
                ng-model="profile.address[0].locality"
                theme="selectize"
                reset-search-input="true"
                on-select="selectAddress($item, 'locality')">
                  <ui-select-match placeholder="{{'Search for locality'|translate}}">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices
                    ng-class="{'not-empty': addressList.localities.length}"
                    refresh="refreshAddress($select, 'localities')"
                    repeat="locality.name as locality in addressList.localities | orderBy:'name'">
                    <div ng-class="{default: !locality.name.length}" ng-bind-html="locality.alt || (locality.name | highlight: $select.search)"></div>
                  </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <div class="section">
            <h4 translate>Phone Numbers</h4>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4"><label class="control-label" for="phone[{{ profile.phone.length - 1 }}][type]" translate>Type</label></div>
                <div class="col-xs-5 col-lg-4"><label class="control-label" for="phone[{{ profile.phone.length - 1 }}][number]" translate>Number</label>
                </div>
                <div class="col-xs-3 col-lg-4">
                  <label class="control-label" for="phone[{{ profile.phone.length - 1 }}][ext]" translate>Extension</label>
                </div>
              </div>
              <div class="reveal btn-reveal" ng-repeat="phone in profile.phone track by $index">
                <div class="row form-elements-phone" ng-class="{'has-error': profileForm.$submitted  && defaultValidObj('phone').$invalid}">
                  <div class="form-prefix col-xs-4">
                    <select
                      class="form-control"
                      ng-options="type as translate(type) for type in phoneTypes"
                      name="phone[{{$index}}][type]"
                      ng-change="checkEntryValidation('phone')"
                      ng-model="profile.phone[$index].type"
                      ng-class="{'disabled': !profile.phone[$index].type}">
                      <option value="">{{'Choose Type' | translate}} *</span></option>
                    </select>
                  </div>

                  <div class="form-body col-xs-6 col-md-5">
                    <input
                      ng-if="phone.type != 'Satellite'"
                      ng-model="profile.phone[$index].number"
                      international-phone-number
                      auto-format="true"
                      national-mode="false"
                      allow-extensions="true"
                      responsive-dropdown="true"
                      preferred-countries="{{defaultPreferredCountryAbbr}}"
                      class="form-control"
                      type="text"
                      name="phone[{{$index}}][number]"
                      placeholder="{{phonePlaceholder()}}"
                      ng-change="setCountryCode(); checkEntryValidation('phone')"
                      ng-blur="focus=0;"
                      focus-field="focus"/>
                    <input
                      ng-if="phone.type == 'Satellite'"
                      ng-model="profile.phone[$index].number"
                      class="form-control"
                      type="text"
                      ng-change="checkEntryValidation('phone')"
                      name="phone[{{$index}}][number]"/>
                    <input type="hidden" name="phone[{{$index}}][countryCode]" ng-model="profile.phone[$index].countryCode" />
                  </div>
                  <div class="form-suffix col-xs-2 col-md-3">
                    <input type="text" class="form-control" name="phone[{{$index}}][ext]" ng-model="profile.phone[$index].ext" maxlength="4" placeholder="{{'Ext.' | translate}}"/>
                    <button type="button" ng-click="changeFieldEntries('phone')" ng-class="{'add' : $last && defaultValidObj('phone').$valid}" >
                      <i class="fa" ng-class="styleFieldEntries('phone')"></i>
                    </button>
                  </div>
                  <div class="help-block col-sm-12" ng-show="profileForm.$submitted && defaultValidObj('phone').$invalid">
                    <span ng-repeat="(type, errors) in defaultValidObj('phone').$error">{{alertMsg(type)}}<br></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <h4 translate>Instant Messengers</h4>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4"><label class="control-label" for="voip[{{ profile.voip.length - 1 }}][type]" translate>Type</label></div>
                <div class="col-xs-8"><label class="control-label" for="voip[{{ profile.voip.length - 1 }}][number]" translate>Username</label></div>
              </div>
              <div class="reveal btn-reveal" ng-repeat="voip in profile.voip track by $index">
                <div class="row form-elements-voip" ng-class="{'has-error': profileForm.$submitted  && defaultValidObj('voip').$invalid}">
                  <div class="form-prefix col-xs-4">
                    <input
                      name="voip[{{$index}}][type]"
                      class="form-control"
                      placeholder="{{'Type' |translate}} *"
                      type="text"
                      ng-disabled="!$index"
                      ng-model="profile.voip[$index].type"
                      ng-change="checkEntryValidation('voip')"/>

                  </div>
                  <div class="form-suffix col-xs-8">
                    <input
                      name="voip[{{$index}}][number]"
                      class="form-control"
                      placeholder="{{'Username' |translate}}"
                      type="text"
                      ng-model="profile.voip[$index].number"
                      ng-change="checkEntryValidation('voip')"
                      ng-blur="focus=0;"
                      focus-field="focus"/>

                    <button type="button" ng-if="$index" ng-click="changeFieldEntries('voip')" ng-class="{'add' : $last && defaultValidObj('voip').$valid}" >
                      <i class="fa" ng-class="styleFieldEntries('voip')"></i>
                    </button>
                  </div>
                  <div class="help-block col-sm-12" ng-show="profileForm.$submitted && defaultValidObj('voip').$invalid">
                    <span ng-repeat="(type, errors) in defaultValidObj('voip').$error">{{alertMsg(type)}}<br></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <h4 translate>Email Addresses</h4>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4"><label class="control-label" for="email[{{ profile.email.length - 1 }}][type]" translate>Type</label></div>
                <div class="col-xs-8"><label class="control-label" for="email[{{ profile.email.length - 1 }}][address]"  translate>Email</label></div>
              </div>
              <div class="reveal btn-reveal" ng-repeat="email in profile.email track by $index">
                <div class="row form-elements-email" ng-class="{'has-error': profileForm.$submitted && defaultValidObj('email').$invalid}">
                  <div class="form-prefix col-xs-4">
                    <select class="form-control" ng-options="type as translate(type) for type in emailTypes" name="email[{{$index}}][type]" ng-model="profile.email[$index].type" ng-class="{'disabled': !profile.email[$index].type}">
                      <option value="">{{'Choose Type' | translate}}</option>
                    </select>
                  </div>
                  <div class="form-suffix col-xs-8">
                    <input
                      class="form-control"
                      placeholder="{{'Address' | translate}}"
                      type="text"
                      name="email[{{$index}}][address]"
                      ng-model="profile.email[$index].address"
                      ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                      ng-change="checkEntryValidation('email')"
                      ng-blur="focus=0;"
                      focus-field="focus"/>

                    <button type="button" ng-click="changeFieldEntries('email')" ng-class="{'add' : $last && defaultValidObj('email').$valid}">
                      <i class="fa" ng-class="styleFieldEntries('email')"></i>
                    </button>
                  </div>
                  <div class="help-block col-sm-12" ng-show="profileForm.$submitted && defaultValidObj('email').$invalid">
                    <span ng-repeat="(type, errors) in defaultValidObj('email').$error">{{alertMsg(type)}}<br></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <h4 translate>Websites &amp; Social Media</h4>
            <div class="form-group">
              <label class="control-label" for="uri[{{ profile.uri.length - 1 }}]" translate>URL</label>
              <div class="reveal btn-reveal" ng-repeat="uri in profile.uri track by $index" ng-class="{'has-error': profileForm.$submitted && defaultValidObj('uri').$invalid}">
                <input class="form-control" type="url" name="uri[{{$index}}]" ng-model="profile.uri[$index]" ng-blur="focus=0; httpCheck()" focus-field="focus"/>
                <button type="button" ng-click="changeFieldEntries('uri')" ng-class="{'add' : $last && checkForValidEntry('uri', $index)}">
                  <i class="fa" ng-class="styleFieldEntries('uri')"></i>
                </button>
                <div class="help-block" ng-show="profileForm.$submitted && defaultValidObj('uri').$invalid">
                  <span ng-repeat="(type, errors) in defaultValidObj('uri').$error">{{alertMsg(type)}}<br></span>
                </div>
              </div>
            </div>
          </div>


          <div class="section">
            <h4 translate>Notes</h4>
            <div class="form-group">
              <textarea class="form-control" name="notes" ng-model="profile.notes" rows="2"></textarea>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-6 admin-area" ng-if="userCanEditKeyContact || userCanEditProtectedRoles|| userCanEditRoles || userCanEditVerified">

          <div class="section" ng-show="userCanEditKeyContact || userCanEditProtectedRoles">
              <h4 translate>Local Administration</h4>
              <div class="form-group" ng-show="userCanEditProtectedRoles">
                <label class="control-label" for="adminRoles" translate>Protected Roles</label>
                <ui-select
                  multiple
                  class="form-control"
                  name="selectedProtectedRoles"
                  ng-model="selectedProtectedRoles"
                  reset-search-input
                  theme="bootstrap"
                  on-select="onRoleChange($item, 'selectedProtectedRoles')"
                  on-remove="onRoleChange($item, 'selectedProtectedRoles')">
                  <ui-select-match placeholder="{{'Protected Roles' |translate}}">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="protectedRole.id as protectedRole in protectedRoles | orderBy:'name' | filter: $select.search">
                    <div ng-bind-html="protectedRole.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group" ng-show="userCanEditKeyContact">
                <div class="checkbox">
                  <label for="keyContact" ng-click="profile.keyContact = !profile.keyContact"><input type="checkbox" name="keyContact" ng-model="profile.keyContact" ng-click="profile.keyContact = !profile.keyContact"/><span translate>Key Contact</span></label>
                </div>
              </div>
          </div>

          <div class="section" ng-show="userCanEditRoles || userCanEditVerified">
              <h4 translate>Global Administration</h4>
              <div class="form-group" ng-show="userCanEditRoles">
                <label class="control-label" for="adminRoles" translate>Admin Privileges</label>
                <ui-select
                  multiple
                  class="form-control"
                  name="adminRoles"
                  ng-model="adminRoles"
                  ng-disabled="!userCanEditRoles"
                  reset-search-input
                  theme="bootstrap"
                  on-select="onRoleChange($item, 'adminRoles')"
                  on-remove="onRoleChange($item, 'adminRoles')">
                  <ui-select-match placeholder="{{'Admin Privileges' |translate}}">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="role.id as role in adminRoleOptions | orderBy:'name' | filter: $select.search">
                    <div ng-bind-html="role.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>

              <div class="checkbox" ng-show="userCanAddVerified">
                <label for="verified" ng-click="setVerified()"><input type="checkbox" name="verified" ng-model="verified" ng-disabled="verified && !userCanRemoveVerified" ng-click="setVerified()" ng-value="verified"/><span translate>Verified Responder</span></label>
              </div>
          </div>

          <div class="section" ng-show="userCanDeleteAccount || userCanSendClaimEmail">
            <a class="btn btn-primary btn-lg btn-block" ng-show="userCanSendClaimEmail" ng-click="confirmSendEmail = !confirmSendEmail" translate>Send Claim Email</a>
            <a ng-show="confirmSendEmail" ng-disabled="sendingClaimEmail" class="fade btn btn-warning btn-lg btn-block" ng-click="sendClaimEmail()" translate>Confirm Send Claim Email</a>
            <a class="btn btn-lg btn-primary btn-block btn-danger" ng-if="userCanDeleteAccount" ng-click="profile.confirmDelete = !profile.confirmDelete" translate>Delete Account</a>
            <a ng-show="profile.confirmDelete" class="fade btn btn-warning btn-lg btn-block" ng-click="deleteAccount()" translate>Confirm Delete Account</a>
          </div>

        </div>
      </div>

      <div class="row bottom-submit">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <input class="btn btn-primary btn-lg btn-block" type="submit" ng-value="submitText()" />
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="back()" ng-bind="cancelText()"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-left">
      <div ng-show="!isRouteLoading">
        <div class="visible-xs">
          <div class="bottom-fixed-btn" role="presentation">
            <a href ng-click="profileOptions = !profileOptions"><div class="bottom-fixed-btn__arrow"></div><span translate>Profile Options</span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 actions-wrapper">
        <div class="actions">
          <input class="btn btn-primary btn-lg btn-block" type="submit" ng-value="submitText()"/>
          <button type="button" class="btn btn-default btn-lg btn-block" ng-click="back()" ng-bind="cancelText()"></button>
          <button type="button" class="btn btn-default btn-lg btn-block" ng-if="userCanCheckOut" ng-click="checkOut()" translate>Check-out</button>
          <a class="btn btn-default btn-lg btn-block" ng-if="userCanRequestDelete" href="http://humanitarian.id/removal_request/" translate>Delete My Account</a>
          <a class="btn btn-lg btn-primary btn-block btn-danger" ng-if="userCanDeleteAccount" ng-click="profile.confirmDelete = !profile.confirmDelete" translate>Delete Account</a>
          <a ng-show="profile.confirmDelete" class="fade btn btn-warning btn-lg btn-block" ng-click="deleteAccount()" translate>Confirm Delete Account</a>
        </div>
      </div>
    </div>
  </form>
</div>
