<div class="back-btn back-btn-head back-btn-head-mob btn" ng-if="!isCheckingIn">
    <a ng-click="goBack(true)"><i class="fa fa-chevron-left"></i><span></span></a>
</div>
<div  ng-show='!isRouteLoading'>
  <div class="col-md-1 back-btn back-btn-float btn" ng-if="!isCheckingIn">
    <a ng-click="goBack(true)"><i class="fa fa-chevron-left"></i><span></span></a>
  </div>

  <div ng-show="!isCheckingIn" class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-2 pull-right-hard">
      <h2 class="heading-contact-list" translate>
        Mailing Lists and Discussion Groups <small>({{services.length}})</small>
      </h2>

  </div>
  <div ng-show= "isCheckingIn">
    <div class ="header1">
      <h2 class="heading-subscriptions-list" translate>
        You have succesfully checked into {{countryName}}!
      </h2>
      <p class="subheading-subscriptions-list" ng-show="services.length > 0" translate>
        Thank you for checking in. Here are a few mailing lists and discussion groups that you might find useful:
      </p>
      <p class="subheading-subscriptions-list" ng-show="services.length == 0" translate>
        Thank you for checking in.
      </p>
    </div>
    <div class ="heading-subscriptions-list checkbox-properties">
      <span > 
        <i class="fa fa-check-circle-o"></i>
      </span>
    </div>
  </div>

</div>
<br>
<div class="main row page-services" ng-show='!isRouteLoading' ng-class="{'show-options': sidebarOptions}">
  <div class="active-contacts">
    <browser-alert></browser-alert>
    <form class="search-form" ng-if="!isCheckingIn">
      <div class="form-group  col-xs-12 col-sm-8 col-md-9 pull-right-hard">
        <label class="control-label element-invisible" for="q" translate>Search</label>
        <div class="input-groupx">
          <input class="form-control contact-search" type="search" name="text"
                 placeholder="{{'Search by name'|translate}}" ng-model="query.q" ng-disabled="isOffline()"/>
          <input class="btn btn-lg contact-search-submit" type="submit" ng-click="submitSearch()" ng-disabled="isOffline()" value="{{'Search'|translate}}"/>
        </div>
      </div>
    </form>

    <ul cg-busy="servicesPromise">
      <li class="profile-item  list-group-item btn-align" ng-repeat="service in services" ng-show="isCheckingIn">
        <div class="row">
          <div class="service-name" ng-show="isCheckingIn" >{{service.name}}
            <span  class="label label-primary" ng-if="service.subscribed" translate>Subscribed</span>
          </div>
          <div class="btn-group">
            <div class ="services-btn-group">
              <a  ng-class="{'disabled' : isOffline()}" class="btn btn-sm " role="button" ng-if="service.subscribed" ng-click="unsubscribeDialog(service)" title="{{'Unsubscribe' | translate}}"><i class="fa fa-times"></i></a>
              <button ng-class="{'disabled' : isOffline()}"  class="button-padding btn btn-sm btn-subscribe " role="button" ng-if="!service.subscribed" ng-click="subscribeDialog(service)" title="{{'Subscribe' | translate}}"><i class="fa">Subscribe</i></button>
              <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="service.editAllowed" href="#/services/{{service._id}}/edit" title="{{'Edit' | translate}}"><i class="fa fa-cog"></i></a>
            </div>
          </div>
        </div>
      </li>
        <li class="profile-item services-item list-group-item col-xs-12 col-sm-9 col-md-10 pull-right-hard" ng-repeat="service in services" ng-show="!isCheckingIn">
        <div class="row">
          <div class="contact-item contact-item--name col-xs-12 col-md-6" >
            {{service.name}} <span class="label label-primary" ng-if="service.subscribed" translate>Subscribed</span>
          </div>
          <div class="btn-group">
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="service.subscribed" ng-click="unsubscribeDialog(service)" title="{{'Unsubscribe' | translate}}"><i class="fa fa-times"></i></a>
            <button ng-class="{'disabled' : isOffline()}" class="btn btn-sm btn-subscribe" role="button" ng-if="!service.subscribed" ng-click="subscribeDialog(service)" title="{{'Subscribe' | translate}}"><i class="fa">Subscribe</i></button>
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="service.editAllowed" href="#/services/{{service._id}}/edit" title="{{'Edit' | translate}}"><i class="fa fa-cog"></i></a>
          </div>
        </div>
      </li>
    </ul>

    <div class="panel panel-danger" ng-if="services.length == 0 && !isCheckingIn">
      <div class="panel-heading"><em translate>No service found</em></div>
    </div>

  </div>
</div>
<br>
<div class="col-xs-12 col-sm-4 col-md-3 actions-wrapper submit-left-align" ng-if="isCheckingIn">
  <div class="actions">
    
      <a  class="btn btn-primary btn-lg btn-block " ng-disabled="submitProcessing" href="/#dashboard" translate>
      <span class="fa fa-angle-left"></span>
        Back to Dashboard</a>
  </div>
</div>
