<div class="back-btn back-btn-head back-btn-head-mob btn">
    <a ng-click="goBack(true)"><i class="fa fa-chevron-left"></i><span></span></a>
</div>
<div class="masthead row" ng-show='!isRouteLoading'>
  <div class="col-md-1 back-btn back-btn-float btn">
    <a ng-click="goBack(true)"><i class="fa fa-chevron-left"></i><span></span></a>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-2 pull-right-hard">
    <h2 class="heading-contact-list" translate>
      Services <small>({{services.length}})</small>
    </h2>
  </div>
</div>

<div class="main row page-list" ng-show='!isRouteLoading' ng-class="{'show-options': sidebarOptions}">
  <div class="active-contacts col-xs-12 col-sm-8 col-md-9 pull-right-hard">
    <browser-alert></browser-alert>

    <form class="search-form">
      <div class="form-group">
        <label class="control-label element-invisible" for="q" translate>Search</label>
        <div class="input-groupx">
          <input class="form-control contact-search" type="search" name="text"
                 placeholder="{{'Search by name'|translate}}" ng-model="query.q" ng-disabled="isOffline()"/>
          <input class="btn btn-lg contact-search-submit" type="submit" ng-click="submitSearch()" ng-disabled="isOffline()" value="{{'Search'|translate}}"/>
        </div>
      </div>
    </form>

    <ul class="list-group" cg-busy="servicesPromise">
      <li class="profile-item list-group-item" ng-repeat="service in services">
        <div class="row">
          <div class="contact-item contact-item--name col-xs-12 col-md-6" >
            {{service.name}} <span class="label label-primary" ng-if="service.subscribed" translate>Subscribed</span>
          </div>
          <div class="btn-group">
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="service.subscribed" ng-click="unsubscribeDialog(service)" title="{{'Unsubscribe' | translate}}"><i class="fa fa-times"></i></a>
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="!service.subscribed" ng-click="subscribeDialog(service)" title="{{'Subscribe' | translate}}"><i class="fa fa-share-square"></i></a>
            <a ng-class="{'disabled' : isOffline()}" class="btn btn-sm" role="button" ng-if="service.editAllowed" href="#/services/{{service._id}}/edit" title="{{'Edit' | translate}}"><i class="fa fa-cog"></i></a>
          </div>
        </div>
      </li>
    </ul>

    <div class="panel panel-danger" ng-if="services.length == 0">
      <div class="panel-heading"><em translate>No service found</em></div>
    </div>

  </div>

  <div class="sidebar-left">
  </div>
</div>
