<div class="back-btn back-btn-head btn">
  <a ng-click="goBack()"><i class="fa fa-chevron-left"></i><span></span></a>
</div>


<div>
  <h2 ng-if="!service._id" translate>Create New Service</h2>
  <h2 ng-if="service._id" translate>Edit Service</h2>
</div>

<div ng-show='!isRouteLoading' class="main row page-dashboard">
  <div class="main-content col-xs-12 col-sm-8 col-md-9 pull-right-hard">
    <div>
      <uib-alert ng-repeat="alert in flash.get()" type="{{alert.type}}" close="flash.close($index)">{{alert.msg}}</uib-alert>
    </div>
    <div class="custom-contacts-wrapper">
      <i translate>* Required Field</i>

      <form name="serviceForm" autocomplete="off">
        <div class="form-group">
          <label class="control-label" for="name" translate>Service Name*</label>
          <input class="form-control" type="text" name="name" ng-model="service.name" required/>
        </div>
        <div class="form-group">
          <label class="control-label" for="hidden" translate>Hidden</label>
          <input type="checkbox" ng-model="service.hidden" name="hidden" /> <span translate>Check this to hide this service</span>
        </div>
        <div class="form-group">
          <label class="control-label" translate>Operations</label>
          <p translate>This service should be suggested when checking into the following operations:</p>
          <div class="reveal btn-reveal" ng-repeat="location in service.locations track by $index">
            <ui-select 
            name="locations[{{$index}}]"
            class="form-control form-control-light"
            ng-model="service.locations[$index]"
            theme="bootstrap">
              <ui-select-match placeholder="Select an operation...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices ng-class="{'not-empty': availOperations.length}" repeat="{name: operation.name, remote_id: operation.remote_id} as operation in availOperations | orderBy:'name' | filter: {name: $select.search }">
                <div ng-bind-html="operation.name  | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <button type="button" ng-click="changeFieldEntries('locations')" ng-class="{'add' : $last}">
              <i class="fa" ng-class="styleFieldEntries('locations')"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" translate>Owners</label>
          <p translate>These people will be able to edit this service</p>
          <div class="reveal btn-reveal" ng-repeat="owner in service.owners track by $index">
            <ui-select
              name="owners[{{$index}}]"
              class="form-control form-control-light {{$select.searching ? 'searching' : ''}}"
              ng-model="service.owners[$index]"
              theme="bootstrap"
              reset-search-input="true">
                <ui-select-match allow-clear placeholder="{{'Please enter the names of HID users who own this service'|translate}}">{{$select.selected.userid}}</ui-select-match>
                <ui-select-choices
                  ng-class="{'not-empty': service.owners.length}"
                  repeat="user in users | orderBy:'name'"
                  refresh="refreshUsers($select, 2)">
                  <div ng-class="{default: !user.name.length}" ng-bind-html="user.userid | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <button type="button" ng-click="changeFieldEntries('owners')" ng-class="{'add' : $last}">
              <i class="fa" ng-class="styleFieldEntries('owners')"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="type" translate>Service Type*</label>
          <select name="type" ng-model="service.type">
            <option value="mailchimp">Mailchimp</option>
            <option value="googlegroup">Google Group</option>
          </select>
        </div>
        <div class="form-group" ng-if="service.type === 'mailchimp'">
          <label class="control-label" for="mc_api_key" translate>Mailchimp API Key</label>
          <input class="form-control" type="text" name="mc_api_key" ng-model="service.mc_api_key" ng-blur="getMailchimpLists()" />
        </div>

        <div class="form-group" ng-if="service.mc_api_key" ng-init>
          <label class="control-label" for="mc_list" translate>Mailchimp list</label>
          <select name="mc_list" ng-model="service.mc_list" ng-options="mc_list.name for mc_list in mc_lists track by mc_list.id">
          </select>
        </div>

        <div class="form-group" ng-if="service.type === 'googlegroup'">
          <label class="control-label" for="googlegroup_domain" translate>Domain</label>
          <select name="googlegroup_domain" ng-model="service.googlegroup.domain" ng-options="domain for domain in googlegroup_creds track by domain" ng-change="setGoogleGroups(service.googlegroup.domain)">
          </select>
        </div>

        <div class="form-group" ng-if="service.googlegroup.domain" ng-init>
          <label class="control-label" for="googlegroup_group" translate>Group</label>
          <select name="googlegroup_group" ng-model="service.googlegroup.group" ng-options="googlegroup.name for googlegroup in googlegroups track by googlegroup.id">
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="sidebar-left">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="actions">
        <a class="btn btn-primary btn-lg btn-block" ng-click="saveService()">
          <span translate>Save</span>
        </a>
        <a class="btn btn-default btn-lg btn-block" href="#/dashboard">
          </span> <span translate>Cancel</span>
        </a>
        <a class="btn btn-default btn-lg btn-block" ng-if="service._id" ng-click="deleteServiceDialog()">
          <span translate>Delete Service</span>
        </a>
      </div>
    </div>
  </div>
</div>
