<div class="panel panel-primary">
  <div class="panel-heading" translate>Subscribe to {{service.name}}</div>
  <div class="panel-body">
    <p translate>Select the email address you would like to subscribe to {{service.name}}</p>
    <select class="form-control" name="email" ng-model="email" ng-options="email for email in userEmails"></select>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 margin-bottom"><button class="btn btn-primary btn-lg btn-block" ng-click="subscribe()" translate>Subscribe</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg btn-block" ng-click="closeThisDialog()" type="button" translate>Close</button></div>
</div>

