<div class="panel panel-primary">
  <div class="panel-heading" translate>Confirm unsubscription</div>
  <div class="panel-body">
    <p translate>Are you sure you want to unsubscribe from {{service.name}} ?.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 margin-bottom"><button class="btn btn-primary btn-lg btn-block" ng-click="confirm(1)" translate>Yes</button></div>
  <div class="col-sm-6"><button class="btn btn-default btn-lg btn-block" ng-click="closeThisDialog()" type="button" translate>No</button></div>
</div>

