/*
Error: Undefined mixin 'border-radius'.
        on line 2 of /Volumes/code/hid_app/src/scss/base/_btn.scss, in `border-radius'
        from line 2 of /Volumes/code/hid_app/src/scss/base/_btn.scss
        from line 2 of /Volumes/code/hid_app/src/scss/base/**\/*
        from line 11 of /Volumes/code/hid_app/src/scss/app.scss

1: ////////////////////////
2: // Style File
3: //
4: // This file gets turned into app.css. This file should really hold nothing except for imports of your global, base, layout, and component partials
5: ////////////////////////
6: 
7: //@import "font-awesome-sprockets";

Backtrace:
/Volumes/code/hid_app/src/scss/base/_btn.scss:2:in `border-radius'
/Volumes/code/hid_app/src/scss/base/_btn.scss:2
/Volumes/code/hid_app/src/scss/base/**\/*:2
/Volumes/code/hid_app/src/scss/app.scss:11
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:98:in `with_mixin'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/engine.rb:269:in `block in render'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/util.rb:492:in `silence_sass_warnings'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/engine.rb:269:in `render'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `load'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `<main>'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'border-radius'.\A         on line 2 of /Volumes/code/hid_app/src/scss/base/_btn.scss, in `border-radius'\A         from line 2 of /Volumes/code/hid_app/src/scss/base/_btn.scss\A         from line 2 of /Volumes/code/hid_app/src/scss/base/**/*\A         from line 11 of /Volumes/code/hid_app/src/scss/app.scss\A \A 1: ////////////////////////\A 2: // Style File\A 3: //\A 4: // This file gets turned into app.css. This file should really hold nothing except for imports of your global, base, layout, and component partials\A 5: ////////////////////////\A 6: \A 7: //@import \"font-awesome-sprockets\";"; }
