/*
Error: Invalid CSS after "...rimary-color-1;": expected selector or at-rule, was "}"
        on line 48 of /Volumes/code/hid_app/src/scss/components/_contact-item.scss
        from line 3 of /Volumes/code/hid_app/src/scss/components/**\/*
        from line 14 of /Volumes/code/hid_app/src/scss/app.scss

43: //  color: $primary-color-1;
44: //}
45: //
46: //:-ms-input-placeholder {
47: //  color: $primary-color-1;
48: }

Backtrace:
/Volumes/code/hid_app/src/scss/components/_contact-item.scss:48
/Volumes/code/hid_app/src/scss/components/**\/*:3
/Volumes/code/hid_app/src/scss/app.scss:14
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/scss/parser.rb:43:in `parse'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/engine.rb:297:in `block in to_tree'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/util.rb:492:in `silence_sass_warnings'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/engine.rb:297:in `to_tree'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/engine.rb:269:in `block in render'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/util.rb:492:in `silence_sass_warnings'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/engine.rb:269:in `render'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/jgroh/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...rimary-color-1;\": expected selector or at-rule, was \"}\"\A         on line 48 of /Volumes/code/hid_app/src/scss/components/_contact-item.scss\A         from line 3 of /Volumes/code/hid_app/src/scss/components/**/*\A         from line 14 of /Volumes/code/hid_app/src/scss/app.scss\A \A 43: //  color: $primary-color-1;\A 44: //}\A 45: //\A 46: //:-ms-input-placeholder {\A 47: //  color: $primary-color-1;\A 48: }"; }
