%rounded-icon {
  float: left;
  font-size: 4em;
  font-style: normal;
  text-transform: none;
  line-height: 20px;
  background: $white;
  color: $primary-color-2;
  border-radius: 25px;
  height: 19px;
  width: 19px;
  text-align: center;
  text-indent: 2px;
}
