%rounded-icon {
  float: left;
  font-size: 25px;
  font-style: normal;
  text-transform: none;
  line-height: 24px;
  background: $white;
  color: $primary-color-2;
  border-radius: 25px;
  height: 24px;
  width: 24px;
  text-align: center;
  overflow: hidden;
  @media (min-width: 768px) {
    padding-bottom: inherit;
    line-height: 21px;
    height: 20px;
    width: 20px;
  }
}
